///////////////////////////
//   A11y Dropdown Nav
///////////////////////////

$nav-color-text: #fff;
$nav-color-bg: #4d47ad;
$nav-color-bg-focus: lighten($nav-color-bg, 8%);
$nav-color-active: #aaa; 
$nav-breakpoint: 1000px;

.site-navigation-wrap {
  background: $nav-color-bg;
  position: relative;
  .site-navigation {
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 1240px;
    @media (min-width: $nav-breakpoint) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
    }
  }
}

.logo {
  padding: 0;
  display: inline-block;
  // Placeholder logo image - these styles will need changing
  img {
    width: 150px;
    height: 30px;
    padding: .5rem 1rem .5rem 2rem;
    filter: invert(1);
  }
  &:focus {

    background-color: $nav-color-bg-focus;
  }
}

.nav {
  color: #000;
  margin: 0;
  padding: 0;
  clear: both;
  flex-wrap: wrap;
  flex-direction: row;
  display: none;
  &.toggled {
    display: block;
    background: #fff;

    a,
    button {
      color: #000;
      padding: 1rem 1.5rem;
    }
    @media (max-width: $nav-breakpoint) {
      .sub-menu {
        background: #fff;
        border-left: 4px solid #8347ad;
      }
    }
  }
  @media (min-width: $nav-breakpoint) {
    &.toggled {
      display: flex;
      background: $nav-color-bg;
      color: #fff;

      a,
      button {
        color: #fff;
        padding: 1.5rem 1.5rem;
        &:hover,
        &:focus {
          background-color: $nav-color-bg-focus;
          color: #fff;
        }
      }
      .sub-menu {
        background: $nav-color-bg;
      }
    }
  }
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  > li {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    a,
    button {
      color: $nav-color-text;
      font-size: 0.9rem;
      text-decoration: none;
      transition: 0.2s;
      display: block;
      padding: 1.5rem 1.5rem;
      position: relative;

      &:hover,
      &:focus {
        background-color: $nav-color-bg-focus;
        color: #fff;
      }
      &:active {
        color: $nav-color-active;
      }
    }
  }
  @media (min-width: $nav-breakpoint) {
    display: flex;
    justify-content: space-around;
    text-align: center;
    > li {
      flex: 1 1 auto;
    }
  }
  .drop-title > button {
    border: none;
    position: relative;
    background: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-align: left;
    // Arrow
    &::after {
      border-right: 3px solid;
      border-bottom: 3px solid;
      height: 0.4rem;
      width: 0.4rem;
      border-radius: 0.1rem;
      transform: rotate(45deg);
      content: "";
      display: inline-block;
      transition: 0.3s;
      margin-inline-start: 0.5rem;
      margin-top: -4px;
      vertical-align: middle;
    }
    @media (min-width: $nav-breakpoint) {
      justify-content: center;
      &::after {
        position: relative;
      }
    }
    &[aria-expanded="true"]::after {
      transform: rotate(-135deg);
      margin-top: 0;
    }
  }
}
.sub-menu {
  background: $nav-color-bg;
  position: absolute;
  transform-origin: top left;
  top: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transform: scaley(0);
  transition: 0.3s;
  width: 100%;
  z-index: 2;
  padding: 0;
  list-style: none;
  min-width: 200px;
  margin-left: 1rem;
  li {
    overflow: hidden;
    a {
      text-align: start;
      transition: 0.1s;
      padding: 1rem;
      width: auto;
    }
  }
  @media (min-width: $nav-breakpoint) {
    margin-left: 0;
    li {
      a {
        opacity: 0;
        transition: transform 0.3s, opacity 0.3s;
        // Special Effects - optional
        // transform: translate3d(-4rem, 0, 0);
      }
    }
  }
  [aria-expanded="true"] + &,
  [aria-expanded="true"] + & a {
    opacity: 1;
    transform: none;
    visibility: visible;
    @media (max-width: $nav-breakpoint) {
      position: relative;
    }
  }
}

.hamburger-wrap {
  $size: 4px;
  $spacing: 3;
  $color: #fff;
  position: absolute;
  inset-inline-end: 0;
  top: 0;
  margin: 0.3rem;
  padding: 0.3rem 0.3rem 0;
  border: 0;
  background: none;
  height: $size * 10;
  display: block;
  @media (min-width: $nav-breakpoint) {
    display: none;
  }
  &:focus {
    background-color: $nav-color-bg-focus;
  }
  &.toggled {
    .hamburger {
      background: transparent;
      transform: scale(0.5);
      &:before {
        transform: rotate(45deg) scale(2);
      }
      &:after {
        transform: rotate(-45deg) scale(2);
      }
    }
  }
  .hamburger {
    display: block;
    position: relative;
    width: $size * 8;
    height: $size;
    background: $color;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    will-change: background, transform;
    border-radius: $size;
    &:before,
    &:after {
      display: block;
      content: " ";
      background: $color;
      width: 100%;
      height: $size;
      margin-top: -$size;
      transform: translate(0, -$size * $spacing);
      position: relative;
      transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
      will-change: transform;
      border-radius: $size;
    }
    &:after {
      transform: translate(0, $size * $spacing);
    }
  }
}

