---
folder: jump-menu
jira: TCDQ-73886
localcss: "init.css"
localjs: "init.js"
title: "Jump Menu (External) v1.0"
---

<p>This pattern will allow you to place an accessible "Jump Menu" on your page.</p>

{% include_relative para.html %}

<h2 id="example-1">Example</h2>

<!-- Begin Jump Menu -->

<div class="jump-menu">

  <nav aria-label="Jump Menu" class="jump-menu__nav">

    <label class="jump-menu__label">My favorite pattern to use is </label>

    <select class="jump-menu__select">
        <option value="../disclosure-grid/">Disclosure Grid</option>
        <option value="../google-map/">Google Map</option>
        <option value="../read-more/">Read More</option>
    </select>

    <button class="jump-menu__btn">Learn More</button>

    <!-- Note: The for attribute and ID are generated via JavaScript to accomodate multiple Jump Menus per page -->

  </nav>

</div>

<!-- End Jump Menu -->

{% include jump-menu.html %}

{% include notes.html %}
