/*!

  Radancy Component Library: Jump Menu (External)

  Contributor(s):
  Michael "Spell" Spellacy, Email: michael.spellacy@radancy.com, Twitter: @spellacy, GitHub: michaelspellacy

  Dependencies: Sass
  Instructions: To run locally, install Sass (https://sass-lang.com/install), CL to directory this file in and run:
  sass --watch init.scss:init.css --style compressed

*/

$base-color: #6F00EF;

.jump-menu {
background-color: #eee;
border-radius: 5px;
font-size: 1.2rem;
margin: 2em 0;
padding: 1em;

  &__label {
  display: block;
  font-weight: bold;
  margin-inline-end: .3em;

    @media(min-width: 48.625em) {

      display: inline-block;

    }

  }

  &__select, &__btn {
  font-size: inherit;
  margin-inline-end: .3em;
  padding: .5em;
  }

  &__btn {
  background-color: $base-color;
  border: 0;
  color: white;
  font-size: inherit;

    &:focus {
    background-color: #69788C;
    }

  }

}
