/*!

  Radancy Pattern Library: Miscellaneous Patterns

  Contributor(s):
  Michael "Spell" Spellacy, Email: michael.spellacy@radancy.com, Twitter: @spellacy, GitHub: michaelspellacy

  Dependencies: Sass
  Instructions: To run locally, install Sass (https://sass-lang.com/install), CL to directory this file in and run:
  sass --watch init.scss:init.css --style compressed

*/

@import "breakpoint"; // Note: Use your own breakpoint partial.

// Your Path

$your-path-primary-color: #134c8d;
$your-path-secondary-color: #fff;
$your-path-line-size: 4px;
$end-banner: 1024px;
$end-mid-banner: 1185px;

.your-path {
background-image: linear-gradient(180deg, rgba(63,123,164,1) 0%, rgba(63,123,164,1) 35%, rgba(165,185,203,1) 100%);
color: #fff;
padding: 1em;
text-align: center;

  // Toggle Button

  &__btn {
  background-color: $your-path-secondary-color;
  border: $your-path-line-size $your-path-primary-color solid;
  color: #000;
  cursor: pointer;
  font-size: inherit;
  font-weight: bold;
  line-height: 1.4;
  padding: 1em;
  position: relative;
  width: 100%;

    @include breakpoint($end-banner) {

      margin-bottom: 25px;
      max-width: 180px;
      width: 180px;
      z-index: 1;

    }

    &:focus, &:hover {
    background-color: $your-path-primary-color;
    color: $your-path-secondary-color;
    border-color: $your-path-secondary-color;
    }

    &[aria-expanded="true"] {
    display: none;

      @include breakpoint($end-banner) {

        display: block;
        visibility: hidden;

      }

      + .your-path__content {
      display: block;
      }

    }

  }

  // List

  &__list {
  border-left: $your-path-line-size $your-path-primary-color solid;
  list-style: none;
  margin: 3em 1em;
  padding: 0;
  position: relative;

    @include breakpoint($end-banner) {

      border-bottom: $your-path-line-size $your-path-primary-color solid;
      border-left: 0;
      display: flex;
      justify-content: space-evenly;
      margin-left: 2em;
      margin-right: 2em;
      place-items: flex-end;

    }

    // Bottom Arrow

    &::after {
    border: $your-path-line-size transparent solid;
    border-bottom-color: $your-path-primary-color;
    border-right-color: $your-path-primary-color;
    bottom: 0;
    content: "";
    display: block;
    height: 25px;
    left: -15px;
    position: absolute;
    transform: rotate(45deg);
    width: 25px;

      @include breakpoint($end-banner) {

        bottom: -15px;
        left: auto;
        right: 0;
        transform: rotate(-45deg);

      }

    }

  }

  // List Item

  &__item {
  display: flex;
  padding: 1em 0 1em 50px;
  align-items: center;

    @include breakpoint($end-banner) {

      align-items: normal;
      justify-content: space-evenly;
      padding: 0 0 50px;
      position: relative;

    }

    // line & Circle

    &::before, &::after {
    content: "";
    display: block;
    left: 0;
    position: absolute;

      @include breakpoint($end-banner) {

        margin: auto;
        right: 0;

      }

    }

    &.active {

      @include breakpoint($end-banner) {

        &::before, &::after {
        display: none;
        }

      }

    }

    // Line

    &::before {
    background-color: $your-path-primary-color;
    height: $your-path-line-size;
    width: 100%;

      @include breakpoint($end-banner) {

        height: 100%;
        width: $your-path-line-size;

      }

    }

    // Circle

    &::after {
    background-color: $your-path-secondary-color;
    border-radius: 50%;
    border: $your-path-line-size $your-path-primary-color solid;
    height: 30px;
    left: -17px;
    width: 30px;

      @include breakpoint($end-banner) {

        bottom: -15px;
        left: 0;

      }

    }

  }

  // Content Area

  &__content {
  background-color: $your-path-secondary-color;
  border: $your-path-line-size $your-path-primary-color solid;
  box-shadow: 0 0 6px 0 #000;
  color: #000;
  display: none;
  line-height: 1.4;
  padding: 1em;
  position: relative;
  width: 100%;
  z-index: 2;

    @include breakpoint($end-banner) {

      bottom: -30px;
      position: absolute;
      width: 200px;

    }

    @include breakpoint($end-mid-banner) {

      width: 300px;

    }

  }

  // Content Elements

  &__heading {
  color: $your-path-primary-color;
  font-weight: bold;
  margin: 0;
  }

  &__info {
  font-size: 14px;
  }

  &__view {
  background-color: $your-path-primary-color;
  color: #fff;
  display: block;
  font-weight: bold;
  margin: 0 -1em -1em;
  padding: .8em;
  text-decoration: none;
  text-transform: uppercase;

    &:focus, &:hover {
    text-decoration: underline; // Do not remove - Spell
    }

  }

}
