/*!

  Radancy Pattern Library: Disclosure v1.0

  Contributor(s):
  Andrew Hill, Email: andrew.hill@radancy.com

  Dependencies: Sass
  Instructions: To run locally, install Sass (https://sass-lang.com/install), CL to directory this file in and run:
  sass --watch init.scss:init.css --style compressed

*/

$base-color: #6F00EF;

.disclosure--btn {
background-color: $base-color;
border: 0;
color: #fff;
margin-bottom: 1em;
padding: 1em;
text-align: left;
width: 100%;

  .disclosure--icon {

    &::after {
    display: inline-block;
    }

  }

  &[aria-expanded="false"] {

    .disclosure--icon {

      &::after {
      content: "+";
      }

    }

    + .disclosure--content {
    display: none;
    }

  }

  &[aria-expanded="true"] {

    .disclosure--icon {

      &::after {
      content: "-";
      }

    }

    + .disclosure--content {
    display: block;
    }

  }

}
