/*!

  Radancy Component Library: Disclosure

  Contributor(s):
  Michael "Spell" Spellacy, Email: michael.spellacy@radancy.com, Twitter: @spellacy, GitHub: michaelspellacy
  Andrew Hill, Email: andrew.hill@radancy.com
  Eric Porter, Email: eric.porter@radancy.com

  Dependencies: Sass
  Instructions: To run locally, install Sass (https://sass-lang.com/install), CL to directory this file in and run:
  sass --watch init.scss:init.css --style compressed

*/

$base-color: #6F00EF;

.disclosure {
padding-top: 4em;
position: relative;

  ul, li {
  margin: 0;
  padding:0;
  list-style: none;
  }

}

.disclosure--btn, .disclosure--toggle-all {
background-color: $base-color;
border: 0;
color: #fff;
font-size: unset;
margin-bottom: 1em;
padding: 1em;
position: relative;
text-align: start; 
width: 100%;
}

.disclosure--toggle-all {
inset-block-start: 0;
inset-inline-end: 0;
position: absolute;
max-width: 6.8rem;

  .disclosure--toggle-all-icon {

    &::after {
    content: "+";
    }

  }

  &[aria-pressed="true"] {

    .disclosure--toggle-all-icon {

      &::after {
      content: "-";
      }

    }

  }

}

.disclosure--heading {
font-size: unset;
margin: 0;
}

.disclosure--icon {
position: absolute;
inset-inline-end: 15px;
inset-block-start: 10px;
font-size: x-large;
line-height: normal;

  // This can be whatever you want.

  &::after {
  content: "+";
  }


}

.disclosure--heading, .disclosure--btn {

  // Open State

  &.open {

    // Toggle Icon

    .disclosure--icon {

      &::after {
      content: "-";
      }

    }

    // Show Content

    + .disclosure--content {
    display: block;

      // Animation

      &.disclosure--animate {
      grid-template-rows: 1fr;
      }

    }

  }

  + .disclosure--content {
  display: none;

    // Animation

    &.disclosure--animate {
    background-color: transparent;
    display: grid;
    grid-template-rows: 0fr; 
    overflow: hidden;
    
      @media (prefers-reduced-motion: no-preference) {
        
        transition: 0.4s ease-in-out;
        
      }
      
      > div {
      min-height: 0;
      }

    }

  }

  // Viewport Friendly

  @media(min-width: 48.625em) { // 778px

    &[data-disclosure-viewport] {

      .disclosure--btn {
      margin: 0;
      pointer-events: none;
      visibility: hidden;

        span:not([aria-hidden]) {
        color: $base-color;
        font-weight: 700;
        visibility: visible;
        }

        // If icon present

        span[aria-hidden] {
        display: none;
        }

      }

      // Always show content

      + .disclosure--content {
      background-color: transparent;
      display: block;
      margin-bottom: 0;
      padding-bottom: 0;
      }

    }

  }

}
