---
folder: nav-basic
localcss: "init.css"
localjs: "init.js"
noindex: true
title: "Navigation: Basic v1.0"
---

<p>This pattern will allow you to implement a basic navigation.</p>

{% include_relative para.html %}

<h2 id="example">Example</h2>

<!-- Begin Navigation: Basic -->

<nav aria-label="Main" class="primary-navigation">

  <button aria-label="Menu" class="primary-navigation__menu"></button>

  <ul>
    <li>

      <button class="primary-navigation__child primary-navigation__item">Item 1</button>

      <ul class="primary-navigation__content">
        <li><a href="/child-1/">Child 1</a></li>
        <li><a href="/child-2/">Child 2</a></li>
        <li><a href="/nav-basic/">Child 3</a></li>
        <li><a href="/child-4/">Child 4</a></li>
        <li><a href="/child-5/">Child 5</a></li>
      </ul>

    </li>
    <li>

      <button class="primary-navigation__child primary-navigation__item">Item 2</button>

      <ul class="primary-navigation__content">
        <li><a href="#">Child 6</a></li>
        <li><a href="#">Child 7</a></li>
        <li><a href="#">Child 8</a></li>
        <li><a href="#">Child 9</a></li>
        <li><a href="#">Child 10</a></li>
      </ul>

    </li>
    <li><a class="primary-navigation__child" href="#">Item 3</a></li>
  </ul>

</nav>

<!-- End Navigation: Basic -->

{% include notes.html %}
