---
folder: in-page
jira: TCDQ-73886
localcss: "init.css"
localjs: "init.js"
noindex: true
title: "Jump Menu (In-page) v1.0"
---

<p>This pattern will allow you to place an accessible "Jump Menu" on your page that can reveal in-page content. Please read <a href="#a11y-info">Accessibility & UX</a> before using.</p>

{% include_relative para.html %}

<h2 id="example-1">Example: Static</h2>

<!-- Begin Jump Menu (In-page) -->

<div class="in-page">

  <nav aria-label="Jump Menu" class="in-page__nav">

    <label class="in-page__label">Select your job position</label>

    <select class="in-page__select">
        <option value="#uid">User Interface Developer</option>
        <option value="#a11y-director">Director, Accessibility</option>
        <option value="#chief-cook">Chief Cook & Bottle Washer</option>
    </select>

    <!-- Note: The for attribute and ID are generated via JavaScript to accomodate multiple Jump Menus per page -->

  </nav>

  <div class="in-page__content" id="uid">

    <h2>User Interface Developer</h2>

    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, <a href="#">tempor sit amet</a>, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>

  </div>

  <div class="in-page__content" hidden id="a11y-director">

    <h2>Director, Accessibility</h2>

    <p>Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>

  </div>

  <div class="in-page__content" hidden id="chief-cook">

    <h2>Chief Cook & Bottle Washer</h2>

    <p>Pellentesque habitant <a href="#">morbi tristique senectus</a> et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>

    <ul>
      <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
      <li>Aliquam tincidunt mauris eu risus.</li>
      <li>Vestibulum auctor dapibus neque.</li>
    </ul>

  </div>

  <div class="sr-only" aria-live="polite"></div>

</div>

<!-- End Jump Menu -->

<h2 id="example-2">Example: Dynamic</h2>

<!-- Begin Jump Menu (In-page) -->

<div class="in-page" data-in-page-dynamic>

  <nav aria-label="Jump Menu" class="in-page__nav">

    <label class="in-page__label">Select your job location</label>

    <select class="in-page__select">

    </select>

    <!-- Note: The for attribute and ID are generated via JavaScript to accomodate multiple Jump Menus per page -->

  </nav>

  <div class="in-page__content" data-in-page-name="California">

    <h2>California</h2>

    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, <a href="#">tempor sit amet</a>, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>

  </div>

  <div class="in-page__content"  data-in-page-name="New York">

    <h2>New York</h2>

    <p>Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>

  </div>

  <div class="in-page__content" data-in-page-name="Pennsylvania">

    <h2>Pennsylvania</h2>

    <p>Pellentesque habitant <a href="#">morbi tristique senectus</a> et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>

    <ul>
      <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
      <li>Aliquam tincidunt mauris eu risus.</li>
      <li>Vestibulum auctor dapibus neque.</li>
    </ul>

  </div>

  <div class="sr-only" aria-live="polite"></div>

</div>

<!-- End Jump Menu -->

{% include jump-menu.html %}

{% include notes.html %}
