/*!

  Radancy Pattern Library: Carousel Scroll

  Contributor(s):
  Michael "Spell" Spellacy, Email: michael.spellacy@radancy.com, Twitter: @spellacy, GitHub: michaelspellacy

  Dependencies: Sass
  Instructions: To run locally, install Sass (https://sass-lang.com/install), CL to directory this file in and run:
  sass --watch init.scss:init.css --style compressed

*/

.carousel-scroll {
position: relative;

  &__container {
  display: flex;
  overflow-x: scroll;
  padding: 3em;
  -webkit-overflow-scrolling: touch;
  }

  &__card {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  min-height: 350px;
  min-width: 300px;
  padding: 1em;
  position: relative;
  transition: .2s;

    &:not(:first-child) {
    box-shadow: -2rem 0 3rem -2rem #000;
    margin-left: -100px;
    }


    &:focus-within, &:hover {
    border: 1px #ccc solid;
    transform: scale(1.1);
    z-index: 1;
    }

  }

  /* &::after {
  background-color: red;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  right: 0;
  width: 10px;
  top: 0;
} */

}
