/*!

  Radancy Pattern Library: Carousel Scroll

  Contributor(s):
  Michael "Spell" Spellacy, Email: michael.spellacy@radancy.com, Twitter: @spellacy, GitHub: michaelspellacy

  Dependencies: Sass
  Instructions: To run locally, install Sass (https://sass-lang.com/install), CL to directory this file in and run:
  sass --watch init.scss:init.css --style compressed

  Special Thanks: CSS-Tricks!

*/

$base-color: #6F00EF;

.carousel-scroll {
position: relative;
border-right: 4px $base-color solid;

  &__container {
  display: flex;
  overflow-x: scroll;
  padding: 2em 0;
  scrollbar-color: $base-color #fff;
  scrollbar-gutter: always;
  -webkit-overflow-scrolling: touch;

      // Scrollbar styling may be limited cross-browser. This is NOT a bad thing as majority of browsers are WebKit based.
      // However, if you require full support, then have a look at http://grsmto.github.io/simplebar/

      &::-webkit-scrollbar {
      height: 4px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
      background-color: #fff;
      }

      &::-webkit-scrollbar-thumb {
      background-color: $base-color;
      }

  }

  &__card {
  background-color: #fff;
  border: 1px #eee solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  max-width: 350px;
  min-height: 350px;
  min-width: 300px;
  padding: 1em;
  position: relative;
  transition: .6s;

    &:not(:first-child) {
    box-shadow: -2rem 0 3rem -2rem #000;
    margin-left: -100px;
    }

    &:hover, &:focus, &:focus-within {
    margin-right: 110px;
    }

    // Note: If IE11 support is required, then focus-within should be placed in seperate declaration (you'll need to duplicate hover rules here) and tabindex=0 should be added to __card in HTML.

  }

  // Custom Border

  /* &::after {
  background-color: red;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  right: -4px;
  top: 0;
  width: 4px;
  } */

}
