---
folder: disclosure-multiple
jira: TCDQ-57187
localcss: "init.css"
localjs: "init.js"
noindex: true
title: "Multiple Disclosures v1.1"
warning: true
---

{% include nav.html %}

<p>This pattern will allow you to easily place and control the presentation of a multiple dislosure user interface (UI). Please read <a href="#a11y-info">Accessibility & UX</a> before using.</p>

<h2 id="parameters">Parameters</h2>

<ul>
  <li><b>data-disclosure-multiple-icon (Boolean, Optional):</b> Permits inclusion of a visual icon that changes when the control is clicked. Any icon can be included, via the CSS.</li>
  <li><b>data-disclosure-multiple-open (Number, Optional):</b> Specifies which tab should be opened on page load.</li>
  <li>See <a href="#toggle-all">important note</a> of the "Toggle All" button.</li>
</ul>

<h2 id="example-1">Example 1: Basic</h2>

<!-- Begin Multiple Disclosure -->

<div class="disclosure-multiple">

  <div class="disclosure-multiple__navigation">

    <button class="disclosure-multiple__navigation__button">Toggle All</button>

  </div>

  <div class="disclosure-multiple__list">

    <div class="disclosure-multiple__list__item">

      <button class="disclosure-multiple__button">Section 1</button>

      <div class="disclosure-multiple__content">

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

        <p>Ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit.</p>

      </div>

    </div>

    <div class="disclosure-multiple__list__item">

      <button class="disclosure-multiple__button">Section 2</button>

      <div class="disclosure-multiple__content">

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

      </div>

    </div>

    <div class="disclosure-multiple__list__item">

      <button class="disclosure-multiple__button">Section 3</button>

      <div class="disclosure-multiple__content">

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

        <p>A velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

      </div>

    </div>

    <div class="disclosure-multiple__list__item">

      <button class="disclosure-multiple__button">Section 4</button>

      <div class="disclosure-multiple__content">

        <p>Phasellus ac tristique orci. Nulla maximus <a href="#">justo nec dignissim consequat</a>. Sed vehicula diam sit amet mi efficitur vehicula in in nisl. Aliquam erat volutpat. Suspendisse lorem turpis, accumsan consequat consectetur gravida, <a href="#">pellentesque ac ante</a>. Aliquam in commodo ligula, sit amet mollis neque. Vestibulum at facilisis massa.</p>

      </div>

    </div>

  </div>

</div>

<!-- End Multiple Disclosure -->

<h2 id="example-2">Example 2: Visual Affordance</h2>

<p class="param">Parameter(s): <code>data-disclosure-multiple-icon</code></p>

<!-- Begin Multiple Disclosure -->

<div class="disclosure-multiple" data-disclosure-multiple-icon>

  <div class="disclosure-multiple__list">

    <div class="disclosure-multiple__list__item">

      <button class="disclosure-multiple__button">Section 1</button>

      <div class="disclosure-multiple__content">

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

        <p>Ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit.</p>

      </div>

    </div>

    <div class="disclosure-multiple__list__item">

      <button class="disclosure-multiple__button">Section 2</button>

      <div class="disclosure-multiple__content">

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

      </div>

    </div>

    <div class="disclosure-multiple__list__item">

      <button class="disclosure-multiple__button">Section 3</button>

      <div class="disclosure-multiple__content">

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

        <p>A velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

      </div>

    </div>

    <div class="disclosure-multiple__list__item">

      <button class="disclosure-multiple__button">Section 4</button>

      <div class="disclosure-multiple__content">

        <p>Phasellus ac tristique orci. Nulla maximus <a href="#">justo nec dignissim consequat</a>. Sed vehicula diam sit amet mi efficitur vehicula in in nisl. Aliquam erat volutpat. Suspendisse lorem turpis, accumsan consequat consectetur gravida, <a href="#">pellentesque ac ante</a>. Aliquam in commodo ligula, sit amet mollis neque. Vestibulum at facilisis massa.</p>

      </div>

    </div>

  </div>

</div>

<!-- End Multiple Disclosure -->

<h2 id="example-3">Example 3: Open on Page Load</h2>

<p class="param">Parameter(s): <code>data-disclosure-multiple-open="1"</code></p>

<!-- Begin Multiple Disclosure -->

<div class="disclosure-multiple" data-disclosure-multiple-open="1">

  <div class="disclosure-multiple__list">

    <div class="disclosure-multiple__list__item">

      <button class="disclosure-multiple__button">Section 1</button>

      <div class="disclosure-multiple__content">

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

        <p>Ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit.</p>

      </div>

    </div>

    <div class="disclosure-multiple__list__item">

      <button class="disclosure-multiple__button">Section 2</button>

      <div class="disclosure-multiple__content">

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

      </div>

    </div>

    <div class="disclosure-multiple__list__item">

      <button class="disclosure-multiple__button">Section 3</button>

      <div class="disclosure-multiple__content">

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

        <p>A velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

      </div>

    </div>

    <div class="disclosure-multiple__list__item">

      <button class="disclosure-multiple__button">Section 4</button>

      <div class="disclosure-multiple__content">

        <p>Phasellus ac tristique orci. Nulla maximus <a href="#">justo nec dignissim consequat</a>. Sed vehicula diam sit amet mi efficitur vehicula in in nisl. Aliquam erat volutpat. Suspendisse lorem turpis, accumsan consequat consectetur gravida, <a href="#">pellentesque ac ante</a>. Aliquam in commodo ligula, sit amet mollis neque. Vestibulum at facilisis massa.</p>

      </div>

    </div>

  </div>

</div>

<!-- End Multiple Disclosure -->

<div id="toggle-all" class="reminder-info">

  <h2>Toggle All and Additional Scrolling</h2>

  <p>The "Toggle All" button is optional and can be removed from the markup if not desired, but UX/UI strongly reccomend working it into the design and implementing it for the following reasons:</p>

  <ul>
    <li>Many users want to be able to view and scan multiple, or all, open sections of the content at hand, not just the one we choose for them. Not including the ability to allow for one section at a time to be opened, is by design.</li>
    <li>Hiding content prevents users from performing in-page search of content.</li>
  </ul>

  <p>While additional scrolling may be of some concern, there is no data to suggest that scrolling is a burden to the majority of users, and so leaving the choice up to the user to control how much content they wish to have or not have opened will almost certainly make for a better experience.</p>

</div>

{% include disclosures.html %}

{% include notes.html %}
