<section id="a11y-info" class="a11y-info">

	<h2>Accessibility & UX</h2>

  <p>Toggling or changing text in a control to indicate a state change or another action to be taken should be avoided. For example, don't do this:</p>

	<button class="btn" id="toggleExample" onclick="toggleText()">Open</button>

	<script>

	function toggleText() {

  	var x = document.getElementById("toggleExample");

		if (x.innerHTML === "Open") {

			x.innerHTML = "Close";

		} else {

			x.innerHTML = "Open";

		}

	}

	</script>

  <ul>
    <li>Changing the text removes the initial context of the control, which can be confusing, especially for assistive technology users.</li>
    <li>Instead of changing text, consider using visual affordance to convey that toggling behavior exists, which is a well-known and quickly understood convention. For example, up and down arrows, check mark, plus and minus, or close ("X") indicators.</li>
    <li>Users are well-adept at using such interfaces. Afterall, if they knew how to open it, a text instruction to close it is really unnecessary.</li>
  </ul>

</section>
