<section id="a11y-info" class="a11y-info">

	<h2>Accessibility & UX</h2>

  <p>Including labels that sit <em>outside</em> of form fields is <em>always</em> encouraged and a more robust and fully accessible solution when it comes to the design of any form. Including static labels on form fields is particularly crucial in the design of complex forms. While we do allow use of floating labels under certain conditions, please familiraize yourself with the pitfalls of leveraging them <em>before</em> designing or implementing them on your next project.</p>

	<ul>
		<li><a href="https://medium.com/simple-human/floating-labels-are-a-bad-idea-82edb64220f6">Floating labels are problematic</a> by Adam Silver</li>
		<li><a href="https://www.smashingmagazine.com/2021/03/floating-labels-performance-lighthouse/">Gone Floating Labels And Green Lighthouse Scores</a> by Vitaly Friedman</li>
	</ul>

	<p><strong>Note:</strong> Substituting labels with placeholder text is ill-advised. <a href="https://www.deque.com/blog/accessible-forms-the-problem-with-placeholders/">Understand the difference</a> between a proper label and placeholder text.</p>

</section>
