<section id="advisory" class="warning-info">

  <h2>Advisory</h2>

  <p>Please be advised that the current demo reflects implementation of the <code>picture</code> element before Internet Explorer 11 support was dropped. This behavior is also currently reflected in the product and will be updated at a later date to support a "mobile first" approach.</p>

  <p>Ideally, the default image should be the smallest, with single or multiple <code>source</code> elements containing progressively larger images. Each <code>source</code> would contain a <code>media</code> attribute with <code>min-width</code> value set for each breakpoint to reval image at.</p>

</section>
