<section id="a11y" class="a11y-info">

	<h2>Accessibility: Hero Banner Headings</h2>

  <p>Before using an <code>h1</code> heading in your hero banner, please make absolutely sure it is the right heading to use.</p>

  <ul>
    <li>Is there another element on the page that is better suited to be a primary heading? Often, this will be below the hero banner. If so, this should be your <code>h1</code>.</li>
    <li>Is the hero banner meant as more of a call to action or branded message? If so, you may wish to treat the banner as decorative, in which case a <code>div</code> could be used instead of an <code>h1</code> or lower heading level.</li>
    <li>Think contextually. Often, the hero banner on the homepage could justifiably describe the overarching message of the site and be an <code>h1</code>, while hero banners on subpages can contain a <code>div</code>, especially if those suppages include additional and more suitable headings that can be the <code>h1</code>.</li>
  </ul>

  <p>If you are not sure, then please reach out to <a href="mailto:michael.spellacy@radancy.com">Michael Spellacy</a>.</p>

</section>
