{% if page.nav == null %}

<details class="nav"{% if page.nav %}open{%endif%}>

  <summary>Navigation</summary>

{%endif%}

  <nav aria-label="Repo">

    <ul>
      <li><a href="{{ site.baseurl }}/">Home</a></li>
      <li>

        <h2>Modules</h2>

        <ul>
          <li><a href="{{ site.baseurl }}/simple-accordion">Simple Accordion v1.0</a></li>
          <li><a href="{{ site.baseurl }}/tabcordion">TabCordion v1.3 (Beta)</a></li>
        </ul>

      </li>
    </ul>

  </nav>

{% if page.nav == null %}

</details>

{%endif%}
