{% if page.nav == null %}

<details class="nav"{% if page.nav %}open{%endif%}>

  <summary class="btn">Library Navigation</summary>

{%endif%}

  <ul>
    <li><a href="/">Radancy.dev</a></li>
    <li><a href="{{ site.baseurl }}/">Component Library</a></li>
    <li>

      <h2 id="pattern-animation">Animation</h2>

      <p>Animation patterns that can be used on your next project.</p>

      <ul>
        <li><a href="{{ site.baseurl }}/css-animation/">CSS Animations</a></li>
        <li><a href="{{ site.baseurl }}/animation-control/">Animation Control</a></li>
      </ul>

    </li>
    <li>

      <h2 id="pattern-modules">Modules</h2>

      <p>Common components found on many websites. Crafted with usabiltiy and accessibility in mind.</p>

      <ul>
        <li>

          <h3 id="banners">Banners</h3>

          <ul>
            <li><a href="{{ site.baseurl }}/hero-banner/">Hero Banner</a></li>
            <li><a href="https://michaelspellacy.com/video-hero-banner/">Hero Banner (Video)</a></li>
          </ul>

        </li>
        <li>

            <h3 id="pattern-carousels">Carousels</h3>

            <ul>
              <li><a href="{{ site.baseurl }}/carousel-scroll/">Carousel Scroll</a></li>
            </ul>

        </li>
        <li>

            <h3 id="pattern-accordions">Disclosures</h3>

            <ul>
              <li><a href="{{ site.baseurl }}/disclosure/">Disclosure</a></li>
              <li><a href="{{ site.baseurl }}/disclosure-grid/">Grid Disclosure</a></li>
              <li><a href="{{ site.baseurl }}/load-more/">Load More</a></li>
              <li><a href="{{ site.baseurl }}/tabcordion/">TabCordion</a></li>
              <li><a href="{{ site.baseurl }}/read-more/">Read More</a></li>
            </ul>

        </li>
        <li>

            <h3 id="pattern-forms">Forms</h3>

            <ul>
              <li><a href="{{ site.baseurl }}/floating-labels/">Floating Labels</a></li>
            </ul>

        </li>
        <li>

          <h3 id="pattern-layouts">Layouts</h3>
    
          <ul>
            <li><a href="{{ site.baseurl }}/related-content/" id="nav-related-content">Related Content (Cards)</a></li>
          </ul>
    
        </li>
        <li>

            <h3 id="pattern-maps">Maps</h3>

            <ul>
              <li><a href="https://tmpww.sharepoint.com/sites/delivery/SitePages/Map%20Search%20Google%20API%20Edition.aspx">Google Maps</a></li>
            </ul>

        </li>
        <li>

            <h3 id="pattern-multimedia">Multimedia</h3>

            <ul>
              <li><a href="{{ site.baseurl }}/html5-video/">HTML5 Video with Captions & Transcript</a></li>
            </ul>

        </li>
        <li>

            <h3 id="pattern-navigation">Navigation</h3>

            <ul>
              <li><a href="{{ site.baseurl }}/jump-menu/">Jump Menu (External)</a></li>
              <li><a href="{{ site.baseurl }}/in-page/">Jump Menu (In-page)</a></li>
            </ul>

        </li>
      </ul>

    </li>
    <li>

      <h2 id="pattern-tools">Tools</h2>

      <p>Tools to make your development life easier.</p>

      <ul>
        <li><a href="/tb-ajd-template/">Advanced Job Details (AJD) 2.0</a></li>
        <li><a href="/career-path-generator/">Career Path Generator</a></li>
        <li><a href="{{ site.baseurl }}/tools/scraper/">Content Scraper</a></li>
        <li><a href="/tmp-custom-imports">Custom Imports</a></li>
        <li><a href="https://chrome.google.com/webstore/detail/extended-admin-helper/dddjonobdmmmcdhhbeamndmjleojfllo">Extended Admin Helper</a></li>
        <li><a href="/tmp-magic-bullet/">Magic Bullet</a></li>
      </ul>

    </li>
    <li>

      <h2 id="external-resources">External Resources</h2>

      <p>Stand out patterns from across the web.</p>

      <ul>
      	<li><a href="https://codepen.io/Spell/pen/grQqWG">Accessible & Peformance Friendly YouTube Video (Kneel Before Vod)</a></li>
        <li><a href="https://michaelspellacy.com/video-hero-banner/">Video Hero Banners</a></li>
      </ul>

    </li>
    <li>

      <h2 id="pattern-feeds">Feed & Share</h2>

      <p>Third party social plugins you can use on your site.</p>

  		<ul>
  			<li><a href="{{ site.baseurl }}/feeds/facebook/">Facebook Feed 1.0</a></li>
  			<li><a href="{{ site.baseurl }}/feeds/instagram/">Instagram Feed 1.0</a></li>
  			<li><a href="{{ site.baseurl }}/feeds/twitter/">Twitter Feed 1.5</a></li>
  			<li><a href="{{ site.baseurl }}/feeds/youtube-feed-iframe/">YouTube Feed: Inline Frame Edition 1.0</a></li>
  		</ul>

  	</li>
  </ul>

{% if page.nav == null %}

</details>

{%endif%}
