
<nav aria-label="Library" id="main-navigation">

  <ul>
    <li><a href="{{ site.baseurl }}/">Pattern Library</a></li>
    <li>

      <h2 id="pattern-animation">Animation</h2>

      <ul>
        <li><a href="{{ site.baseurl }}/css-animation/" id="nav-css-animation">CSS Animations</a></li>
      </ul>

    </li>
    <li>

      <h2 id="pattern-modules">Modules</h2>

      <ul>
        <li>

          <h3 id="banners">Banners</h3>

          <ul>
            <li><a href="{{ site.baseurl }}/hero-banner/" id="nav-hero-banner">Hero Banner</a></li>
            <li><a href="https://michaelspellacy.com/video-hero-banner/">Hero Banner (Video)</a></li>
          </ul>

        </li>
        <li>

            <h3 id="pattern-carousels">Carousels</h3>

            <ul>
              <li><a href="{{ site.baseurl }}/carousel-scroll/" id="nav-carousel-scroll">Carousel Scroll</a></li>
            </ul>

        </li>
        <li>

            <h3 id="pattern-accordions">Disclosures</h3>

            <ul>
              <li><a href="{{ site.baseurl }}/disclosure/" id="nav-disclosure">Disclosure</a></li>
              <li><a href="{{ site.baseurl }}/disclosure-grid/" id="nav-disclosure-grid">Grid Disclosure</a></li>
              <li><a href="{{ site.baseurl }}/load-more/" id="nav-load-more">Load More</a></li>
              <li><a href="{{ site.baseurl }}/disclosure-multiple/" id="nav-disclosure-multiple">Multiple Disclosures</a></li>
              <li><a href="{{ site.baseurl }}/tabcordion/" id="nav-tabcordion">TabCordion</a></li>
              <li><a href="{{ site.baseurl }}/read-more/" id="nav-read-more">Read More</a></li>
            </ul>

        </li>
        <li>

            <h3 id="pattern-forms">Forms</h3>

            <ul>
              <li><a href="{{ site.baseurl }}/floating-labels/" id="nav-floating-labels">Floating Labels</a></li>
            </ul>

        </li>
        <li>

            <h3 id="pattern-maps">Maps</h3>

            <ul>
              <li><a href="{{ site.baseurl }}/google-map/" id="nav-google-map">Google Maps</a></li>
            </ul>

        </li>
        <li>

            <h3 id="pattern-multimedia">Multimedia</h3>

            <ul>
              <li><a href="{{ site.baseurl }}/html5-video/" id="nav-html5-video">HTML5 Video with Captions & Transcript</a></li>
            </ul>

        </li>
        <li>

            <h3 id="pattern-navigation">Navigation</h3>

            <ul>
              <li><a href="{{ site.baseurl }}/jump-menu/" id="nav-jump-menu">Jump Menu (External)</a></li>
              <li><a href="{{ site.baseurl }}/in-page/" id="nav-in-page">Jump Menu (In-page)</a></li>
            </ul>

        </li>
      </ul>

    </li>
    <li>

      <h2 id="pattern-tools">Tools</h2>

      <ul>
        <li><a href="/tb-ajd-template/" id="nav-tb-ajd-template">Advanced Job Details (AJD) 2.0</a></li>
        <li><a href="/career-path-generator/">Career Path Generator</a></li>
        <li><a href="{{ site.baseurl }}/tools/scraper/">Content Scraper</a></li>
        <li><a href="/tmp-custom-imports" id="nav-tmp-custom-imports">Custom Imports</a></li>
        <li><a href="https://chrome.google.com/webstore/detail/extended-admin-helper/dddjonobdmmmcdhhbeamndmjleojfllo">Extended Admin Helper</a></li>
        <li><a href="/tmp-magic-bullet/" id="nav-tmp-magic-bullet">Magic Bullet</a></li>
      </ul>

    </li>
    <li>

      <h2 id="external-resources">External Resources</h2>

      <ul>
      	<li><a href="https://codepen.io/Spell/pen/grQqWG">Accessible & Peformance Friendly YouTube Video (Kneel Before Vod)</a></li>
      </ul>

    </li>
    <li>

      <h2 id="pattern-feeds">Feed & Share</h2>

  		<ul>
  			<li><a href="{{ site.baseurl }}/feeds/facebook/">Facebook Feed 1.0</a></li>
  			<li><a href="{{ site.baseurl }}/feeds/instagram/">Instagram Feed 1.0</a></li>
  			<li><a href="{{ site.baseurl }}/feeds/linkedin-feed/">LinkedIn Feed 1.0</a> <span class="alert">(Obsolete)</span></li>
  			<li><a href="{{ site.baseurl }}/feeds/linkedin/">LinkedIn Share 1.0</a> <span class="alert">(Obsolete)</span></li>
  			<li><a href="{{ site.baseurl }}/feeds/twitter/">Twitter Feed 1.5</a></li>
  			<li><a href="{{ site.baseurl }}/feeds/youtube-feed-iframe/">YouTube Feed: Inline Frame Edition 1.0</a></li>
  		</ul>

  	</li>
  </ul>

</nav>
