<section id="a11y-info" class="a11y-info">

	<h2>Give Pause to Accessibility</h2>

    <p>Not everyone likes things that move on the web. Epilepsy, vestibular disorders, and even migraines are but a few disabilities our work can have an adverse or even life-threatening impact on. While <code>prefers-reduced-motion</code> is supported in this pattern to honor user settings to disable animations on the web, we cannot guarantee this will be enough, which is why a <strong>pause button</strong> is also included and must <strong>never</strong> be removed.</p>

    <p>When pressed, the pause button sets a cookie called <code>videoBannerPaused</code>. This will automatically pause the video banner on return visits to the page, as well as pause video banners across other pages of the site it may be used on.  When the video is played, this cookie is removed, allowing all video banners to automatically play across the site.</p>

</section>