<section id="show-all" class="reminder-info">

  <h2>The "Show All" Button</h2>

  <p>The button is optional and can be removed from the markup if not desired, but UX/UI recommends working it into the design and implementing it for the following reasons:</p>

  <ul>
    <li>Users may wish to open multiple disclosures at once, allowing them to process and compare content more easily.</li>
    <li>Users may wish to perform in-page search of all open content, which cannot be done when content is hidden.</li>
  </ul>

  <p>While additional scrolling may be of slight concern, there is no data to suggest that scrolling is a burden to the majority of users, so leaving the choice up to the user to control how much content they wish to have, or not have opened, will almost certainly make for a better experience.</p>

  <p><strong>Note:</strong> If the "Show All" button is removed, then you do not need the parent <code>.disclosure</code> class.</p>


</section>
