<section id="toggle-all" class="reminder-info">

  <h2>Note on the "Toggle All" Button</h2>

  <p>The "Toggle All" button is optional and can be removed from the markup if not desired, but UX/UI strongly recommend working it into the design and implementing it for the following reasons:</p>

  <ul>
    <li>Many users want to be able to view and scan multiple, or all, open sections of the content at hand, not just the one we choose for them.</li>
    <li>Hiding content prevents users from performing in-page search of content.</li>
  </ul>

  <p>While additional scrolling may be of slight concern, there is no data to suggest that scrolling is a burden to the majority of users, and so leaving the choice up to the user to control how much content they wish to have, or not have opened, will almost certainly make for a better experience.</p>

</section>
