<section id="resource-info" class="resource-info">

	<h2>Video Optimization</h2>

	<p>The optimization of our work contributes to the overall performance of the page and the experience users will have, so it is critical to deliver assets, especially video, that will not hinder that experience. <a href="https://handbrake.fr/downloads.php">HandBrake</a> is terrific for this task and is free and supported on all desktop operating systems. A <a href="handbrake">HandBrake tutorial</a> is also available to help walk you through the banner optimization process.</p>

</section>