---
folder: tabcordion
jira: TCDQ-57187
localcss: "init.css"
localjs: "init.js"
noindex: true
slick: true
title: "TabCordion v1.3 (Beta)"
---

{% include nav.html %}

<p>This pattern will allow you to easily place and control the presentation of a combined Tab and Accordion (a.k.a "TabCordion") user interface (UI) .</p>

<h2 id="parameters">Parameters</h2>

<ul>
  <li><b>data-tab-active (Number, Optional):</b> Using a number from "1" up, you can specify which tab should be activated on page load. When this attribute is not specified, the first panel will be open. Support for having no panels open coming soon. </li>
  <li><b>data-tab-breakpoint (String, Required):</b> Accepts any valid media query for more granular control over when interface needs to change from accordion to tab. Setting the breakpoint in code also allows us to pass in the required roles and ARIA attributes needed for each type of interface. For example, setting <code>(min-width: 800px) and (max-width: 1200px)</code> would only allow tabs between these two selected breakpoints. See <a href="#tab-accordion-4">example</a> below.</li>
  <li><b>data-tab-callback (Boolean, Optional):</b> Not sure what this will do yet or how it will be built.</li>
  <li><b>data-tab-disable-url (Boolean, Optional):</b> By default, the URL will always change to reflect selected page fragment. This is recommended behavior because it allows us to share fragmented content more easily. If this behavior is not desired, you may use this attribute to disable this functionality.</li>
  <li><b>data-tab-vertical (Boolean, Optional) :</b> This attribute will change the tab interface from horizontal, the default, to vertical. When in vertical mode, the interface will behave differently. For example, focus will be placed on selected panel for improved accessibility.</li>
</ul>

<h2 id="example-1">Example 1: Basic Layout</h2>

<p>Parameter(s): <code>data-tab-breakpoint="(min-width:780px)"</code></p>

<!-- Begin TabCordion -->

<div class="tab-accordion" data-tab-active="4" data-tab-breakpoint="(min-width: 780px)" data-tab-callback="runMe">

  <div class="tab-accordion__container">

    <button class="tab-accordion__button">Section 1</button>

    <!--

      TODO: Consider wrting buttons in with JavaScript instead. However, care will need to be taken to accomodate Radancy's tracking attributes, etc.
      Note: Maybe consider dynamically creating buttons off an HTML TOC list, which is more PE friendly and resilient.

    -->

    <div class="tab-accordion__panel">

      <div class="tab-accordion__content">

        <h2>Section 1</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

      </div>

    </div>

    <button class="tab-accordion__button">Section 2</button>

    <div class="tab-accordion__panel">

      <div class="tab-accordion__content">

        <h2>Section 2</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

      </div>

    </div>

    <button class="tab-accordion__button">Section 3</button>

    <div class="tab-accordion__panel" data-grid-button="Section 3">

      <div class="tab-accordion__content">

        <h2>Section 3</h2>

        <p>Phasellus ac tristique orci. Nulla maximus <a href="#">justo nec dignissim consequat</a>. Sed vehicula diam sit amet mi efficitur vehicula in in nisl. Aliquam erat volutpat. Suspendisse lorem turpis, accumsan consequat consectetur gravida, <a href="#">pellentesque ac ante</a>. Aliquam in commodo ligula, sit amet mollis neque. Vestibulum at facilisis massa.</p>

      </div>

    </div>

    <button class="tab-accordion__button">Section 4</button>

    <div class="tab-accordion__panel">

      <div class="tab-accordion__content">

        <h2>Section 4</h2>

        <p>Phasellus ac tristique orci. Nulla maximus <a href="#">justo nec dignissim consequat</a>. Sed vehicula diam sit amet mi efficitur vehicula in in nisl. Aliquam erat volutpat. Suspendisse lorem turpis, accumsan consequat consectetur gravida, <a href="#">pellentesque ac ante</a>. Aliquam in commodo ligula, sit amet mollis neque. Vestibulum at facilisis massa.</p>

      </div>

    </div>

  </div>

</div>

<!-- End TabCordion -->

<hr aria-hidden="true">

<h2 id="example-2">Example 2: Vertical Layout with Custom Selection</h2>

<p>Parameter(s): <code>data-tab-active="3"</code>, <code>data-tab-breakpoint="(min-width:1200px)"</code>, and <code>data-tab-vertical</code></p>

<!-- Begin TabCordion -->

<div class="tab-accordion" data-tab-active="3" data-tab-breakpoint="(min-width:1200px)" data-tab-vertical data-tab-callback="runMe">

  <div class="tab-accordion__container">

    <button class="tab-accordion__button">Section 1</button>

    <div class="tab-accordion__panel">

      <div class="tab-accordion__content">

        <h2>Section 1</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

      </div>

    </div>

    <button class="tab-accordion__button">Section 2</button>

    <div class="tab-accordion__panel">

      <div class="tab-accordion__content">

        <h2>Section 2</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

      </div>

    </div>

    <button class="tab-accordion__button">Section 3</button>

    <div class="tab-accordion__panel">

      <div class="tab-accordion__content">

        <h2>Section 3</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

        <p>A velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

      </div>

    </div>

    <button class="tab-accordion__button">Section 4</button>

    <div class="tab-accordion__panel">

      <div class="tab-accordion__content">

        <h2>Section 4</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

      </div>

    </div>

    <button class="tab-accordion__button">Section 5</button>

    <div class="tab-accordion__panel">

      <div class="tab-accordion__content">

        <h2>Section 5</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

        <p>Ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit.</p>

      </div>

    </div>

  </div>

</div>

<!-- End TabCordion -->

<hr aria-hidden="true">

<h2 id=example-3>Example 3: Disabled URL</h2>

<p>Parameter(s): <code>data-tab-active="4"</code>, <code>data-tab-breakpoint="(min-width:800px)"</code>, and <code>data-tab-disable-url</code></p>

<!-- Begin TabCordion -->

<div class="tab-accordion" data-tab-active="4" data-tab-breakpoint="(min-width:800px)" data-tab-disable-url>

  <div class="tab-accordion__container">

    <button class="tab-accordion__button">Section 1</button>

    <div class="tab-accordion__panel">

      <div class="tab-accordion__content">

        <h2>Section 1</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

      </div>

    </div>

    <button class="tab-accordion__button">Section 2</button>

    <div class="tab-accordion__panel">

      <div class="tab-accordion__content">

        <h2>Section 2</h2>

        <p>Nullam at diam nec arcu suscipit auctor non a erat. Sed et magna semper, eleifend magna non, facilisis nisl. Proin et est et lorem dictum finibus ut nec turpis. Aenean nisi tortor, euismod a mauris a, mattis scelerisque tortor. Sed dolor risus, varius a nibh id, condimentum lacinia est. In lacinia cursus odio a aliquam. Curabitur tortor magna, laoreet ut rhoncus at, sodales consequat tellus.</p>

      </div>

    </div>

    <button class="tab-accordion__button">Section 3</button>

    <div class="tab-accordion__panel">

      <div class="tab-accordion__content">

        <h2>Section 3</h2>

        <p>Phasellus ac tristique orci. Nulla maximus <a href="#">justo nec dignissim consequat</a>. Sed vehicula diam sit amet mi efficitur vehicula in in nisl. Aliquam erat volutpat. Suspendisse lorem turpis, accumsan consequat consectetur gravida, <a href="#">pellentesque ac ante</a>. Aliquam in commodo ligula, sit amet mollis neque. Vestibulum at facilisis massa.</p>

      </div>

    </div>

    <button class="tab-accordion__button">Section 4</button>

    <div class="tab-accordion__panel">

      <div class="tab-accordion__content">

        <h2>Section 4</h2>

        <p>Phasellus ac tristique orci. Nulla maximus <a href="#">justo nec dignissim consequat</a>. Sed vehicula diam sit amet mi efficitur vehicula in in nisl. Aliquam erat volutpat. Suspendisse lorem turpis, accumsan consequat consectetur gravida, <a href="#">pellentesque ac ante</a>. Aliquam in commodo ligula, sit amet mollis neque. Vestibulum at facilisis massa.</p>

      </div>

    </div>

    <button class="tab-accordion__button">Section 5</button>

    <div class="tab-accordion__panel">

      <div class="tab-accordion__content">

        <h2>Section 5</h2>

        <p>Phasellus ac tristique orci. Nulla maximus <a href="#">justo nec dignissim consequat</a>. Sed vehicula diam sit amet mi efficitur vehicula in in nisl. Aliquam erat volutpat. Suspendisse lorem turpis, accumsan consequat consectetur gravida, <a href="#">pellentesque ac ante</a>. Aliquam in commodo ligula, sit amet mollis neque. Vestibulum at facilisis massa.</p>

      </div>

    </div>

    <button class="tab-accordion__button">Section 6</button>

    <div class="tab-accordion__panel">

      <div class="tab-accordion__content">

        <h2>Section 6</h2>

        <p>Phasellus ac tristique orci. Nulla maximus <a href="#">justo nec dignissim consequat</a>. Sed vehicula diam sit amet mi efficitur vehicula in in nisl. Aliquam erat volutpat. Suspendisse lorem turpis, accumsan consequat consectetur gravida, <a href="#">pellentesque ac ante</a>. Aliquam in commodo ligula, sit amet mollis neque. Vestibulum at facilisis massa.</p>

      </div>

    </div>

  </div>

</div>

<!-- End TabCordion -->

<hr aria-hidden="true">

<h2 id="example-4">Example 4: Advanced Media Query</h2>

<p>Parameter(s): <code>data-tab-breakpoint="(min-width: 800px) and (max-width: 1200px)"</code></p>

<!-- Begin TabCordion -->

<div class="tab-accordion" data-tab-breakpoint="(min-width: 800px) and (max-width: 1200px)">

  <div class="tab-accordion__container">

    <button class="tab-accordion__button">Section 1</button>

    <div class="tab-accordion__panel">

      <div class="tab-accordion__content">

        <h2>Section 1</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

      </div>

    </div>

    <button class="tab-accordion__button">Section 2</button>

    <div class="tab-accordion__panel">

      <div class="tab-accordion__content">

        <h2>Section 2</h2>

        <p>Nullam at diam nec arcu suscipit auctor non a erat. Sed et magna semper, eleifend magna non, facilisis nisl. Proin et est et lorem dictum finibus ut nec turpis. Aenean nisi tortor, euismod a mauris a, mattis scelerisque tortor. Sed dolor risus, varius a nibh id, condimentum lacinia est. In lacinia cursus odio a aliquam. Curabitur tortor magna, laoreet ut rhoncus at, sodales consequat tellus.</p>

      </div>

    </div>

    <button class="tab-accordion__button">Section 3</button>

    <div class="tab-accordion__panel">

      <div class="tab-accordion__content">

        <h2>Section 3</h2>

        <p>Ac tristique orci. Nulla maximus <a href="#">justo nec dignissim consequat</a>. Sed vehicula diam sit amet mi efficitur vehicula in in nisl. Aliquam erat volutpat. Suspendisse lorem turpis, accumsan consequat consectetur gravida, <a href="#">pellentesque ac ante</a>. Aliquam in commodo ligula, sit amet mollis neque. Vestibulum at facilisis massa.</p>

      </div>

    </div>

    <button class="tab-accordion__button">Section 4</button>

    <div class="tab-accordion__panel">

      <div class="tab-accordion__content">

        <h2>Section 4</h2>

        <p>Phasellus ac tristique orci. Nulla maximus <a href="#">justo nec dignissim consequat</a>. Sed vehicula diam sit amet mi efficitur vehicula in in nisl. Aliquam erat volutpat. Suspendisse lorem turpis, accumsan consequat consectetur gravida, <a href="#">pellentesque ac ante</a>. Aliquam in commodo ligula, sit amet mollis neque. Vestibulum at facilisis massa.</p>

      </div>

    </div>

  </div>

</div>

<!-- End TabCordion -->

{% include notes.html %}
