---
folder: tabcordion
jira: TCDQ-57187
localcss: "init.css"
localjs: "init.js"
slick: true
title: "TabCordion v1.6"
---

<p>This pattern will allow you to implement and control the presentation of a combined Tab and Accordion (a.k.a "TabCordion") user interface (UI) .</p>

{% include_relative para.html %}

<h2 id="basic-setup">Example 1: Basic Setup</h2>

<p>Parameter(s): <code>data-tab-breakpoint="(min-width:780px)"</code></p>

<!-- Begin TabCordion -->

<div class="tab-accordion" data-tab-breakpoint="(min-width: 780px)">

  <div class="tab-accordion__container">

    <button class="tab-accordion__button">Section 1</button>

    <!--

      TODO: Consider wrting buttons in with JavaScript instead. However, care will need to be taken to accomodate Radancy's tracking attributes, etc.
      Note: Maybe consider dynamically creating buttons off an HTML TOC list, which is more PE friendly and resilient.

    -->

    <div class="tab-accordion__panel">

      <div class="tab-accordion__content">

        <h2>Section 1</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

      </div>

    </div>

    <button class="tab-accordion__button">Section 2</button>

    <div class="tab-accordion__panel">

      <div class="tab-accordion__content">

        <h2>Section 2</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

      </div>

    </div>

    <button class="tab-accordion__button">Section 3</button>

    <div class="tab-accordion__panel" data-grid-button="Section 3">

      <div class="tab-accordion__content">

        <h2>Section 3</h2>

        <p>Phasellus ac tristique orci. Nulla maximus <a href="#">justo nec dignissim consequat</a>. Sed vehicula diam sit amet mi efficitur vehicula in in nisl. Aliquam erat volutpat. Suspendisse lorem turpis, accumsan consequat consectetur gravida, <a href="#">pellentesque ac ante</a>. Aliquam in commodo ligula, sit amet mollis neque. Vestibulum at facilisis massa.</p>

      </div>

    </div>

    <button class="tab-accordion__button">Section 4</button>

    <div class="tab-accordion__panel">

      <div class="tab-accordion__content">

        <h2>Section 4</h2>

        <p>Phasellus ac tristique orci. Nulla maximus <a href="#">justo nec dignissim consequat</a>. Sed vehicula diam sit amet mi efficitur vehicula in in nisl. Aliquam erat volutpat. Suspendisse lorem turpis, accumsan consequat consectetur gravida, <a href="#">pellentesque ac ante</a>. Aliquam in commodo ligula, sit amet mollis neque. Vestibulum at facilisis massa.</p>

      </div>

    </div>

  </div>

</div>

<!-- End TabCordion -->

<hr aria-hidden="true">

<h2 id="vertical-layout-custom-selection">Example 2: Vertical Layout with Custom Selection</h2>

<p>Parameter(s): <code>data-tab-active="3"</code>, <code>data-tab-breakpoint="(min-width:1200px)"</code>, and <code>data-tab-vertical</code></p>

<!-- Begin TabCordion -->

<div class="tab-accordion" data-tab-active="3" data-tab-breakpoint="(min-width:1200px)" data-tab-vertical>

  <div class="tab-accordion__container">

    <button class="tab-accordion__button">Section 1</button>

    <div class="tab-accordion__panel">

      <div class="tab-accordion__content">

        <h2>Section 1</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

      </div>

    </div>

    <button class="tab-accordion__button">Section 2</button>

    <div class="tab-accordion__panel">

      <div class="tab-accordion__content">

        <h2>Section 2</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

      </div>

    </div>

    <button class="tab-accordion__button">Section 3</button>

    <div class="tab-accordion__panel">

      <div class="tab-accordion__content">

        <h2>Section 3</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

        <p>A velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

      </div>

    </div>

    <button class="tab-accordion__button">Section 4</button>

    <div class="tab-accordion__panel">

      <div class="tab-accordion__content">

        <h2>Section 4</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

      </div>

    </div>

    <button class="tab-accordion__button">Section 5</button>

    <div class="tab-accordion__panel">

      <div class="tab-accordion__content">

        <h2>Section 5</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

        <p>Ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit.</p>

      </div>

    </div>

  </div>

</div>

<!-- End TabCordion -->

<hr aria-hidden="true">

<h2 id="disabled-url">Example 3: Disabled URL</h2>

<p>Parameter(s): <code>data-tab-active="4"</code>, <code>data-tab-breakpoint="(min-width:800px)"</code>, and <code>data-tab-disable-url</code></p>

<!-- Begin TabCordion -->

<div class="tab-accordion" data-tab-active="4" data-tab-breakpoint="(min-width:800px)" data-tab-disable-url>

  <div class="tab-accordion__container">

    <button class="tab-accordion__button">Section 1</button>

    <div class="tab-accordion__panel">

      <div class="tab-accordion__content">

        <h2>Section 1</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

      </div>

    </div>

    <button class="tab-accordion__button">Section 2</button>

    <div class="tab-accordion__panel">

      <div class="tab-accordion__content">

        <h2>Section 2</h2>

        <p>Nullam at diam nec arcu suscipit auctor non a erat. Sed et magna semper, eleifend magna non, facilisis nisl. Proin et est et lorem dictum finibus ut nec turpis. Aenean nisi tortor, euismod a mauris a, mattis scelerisque tortor. Sed dolor risus, varius a nibh id, condimentum lacinia est. In lacinia cursus odio a aliquam. Curabitur tortor magna, laoreet ut rhoncus at, sodales consequat tellus.</p>

      </div>

    </div>

    <button class="tab-accordion__button">Section 3</button>

    <div class="tab-accordion__panel">

      <div class="tab-accordion__content">

        <h2>Section 3</h2>

        <p>Phasellus ac tristique orci. Nulla maximus <a href="#">justo nec dignissim consequat</a>. Sed vehicula diam sit amet mi efficitur vehicula in in nisl. Aliquam erat volutpat. Suspendisse lorem turpis, accumsan consequat consectetur gravida, <a href="#">pellentesque ac ante</a>. Aliquam in commodo ligula, sit amet mollis neque. Vestibulum at facilisis massa.</p>

      </div>

    </div>

    <button class="tab-accordion__button">Section 4</button>

    <div class="tab-accordion__panel">

      <div class="tab-accordion__content">

        <h2>Section 4</h2>

        <p>Phasellus ac tristique orci. Nulla maximus <a href="#">justo nec dignissim consequat</a>. Sed vehicula diam sit amet mi efficitur vehicula in in nisl. Aliquam erat volutpat. Suspendisse lorem turpis, accumsan consequat consectetur gravida, <a href="#">pellentesque ac ante</a>. Aliquam in commodo ligula, sit amet mollis neque. Vestibulum at facilisis massa.</p>

      </div>

    </div>

    <button class="tab-accordion__button">Section 5</button>

    <div class="tab-accordion__panel">

      <div class="tab-accordion__content">

        <h2>Section 5</h2>

        <p>Phasellus ac tristique orci. Nulla maximus <a href="#">justo nec dignissim consequat</a>. Sed vehicula diam sit amet mi efficitur vehicula in in nisl. Aliquam erat volutpat. Suspendisse lorem turpis, accumsan consequat consectetur gravida, <a href="#">pellentesque ac ante</a>. Aliquam in commodo ligula, sit amet mollis neque. Vestibulum at facilisis massa.</p>

      </div>

    </div>

    <button class="tab-accordion__button">Section 6</button>

    <div class="tab-accordion__panel">

      <div class="tab-accordion__content">

        <h2>Section 6</h2>

        <p>Phasellus ac tristique orci. Nulla maximus <a href="#">justo nec dignissim consequat</a>. Sed vehicula diam sit amet mi efficitur vehicula in in nisl. Aliquam erat volutpat. Suspendisse lorem turpis, accumsan consequat consectetur gravida, <a href="#">pellentesque ac ante</a>. Aliquam in commodo ligula, sit amet mollis neque. Vestibulum at facilisis massa.</p>

      </div>

    </div>

  </div>

</div>

<!-- End TabCordion -->

<hr aria-hidden="true">

<h2 id="advanced-media-query">Example 4: Advanced Media Query</h2>

<p>Parameter(s): <code>data-tab-breakpoint="(min-width: 800px) and (max-width: 1200px)"</code></p>

<p>Tabs will only be available when viewport width is between 800px and 1200px.</p>

<!-- Begin TabCordion -->

<div class="tab-accordion" data-tab-breakpoint="(min-width: 800px) and (max-width: 1200px)">

  <div class="tab-accordion__container">

    <button class="tab-accordion__button">Section 1</button>

    <div class="tab-accordion__panel">

      <div class="tab-accordion__content">

        <h2>Section 1</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

      </div>

    </div>

    <button class="tab-accordion__button">Section 2</button>

    <div class="tab-accordion__panel">

      <div class="tab-accordion__content">

        <h2>Section 2</h2>

        <p>Nullam at diam nec arcu suscipit auctor non a erat. Sed et magna semper, eleifend magna non, facilisis nisl. Proin et est et lorem dictum finibus ut nec turpis. Aenean nisi tortor, euismod a mauris a, mattis scelerisque tortor. Sed dolor risus, varius a nibh id, condimentum lacinia est. In lacinia cursus odio a aliquam. Curabitur tortor magna, laoreet ut rhoncus at, sodales consequat tellus.</p>

      </div>

    </div>

    <button class="tab-accordion__button">Section 3</button>

    <div class="tab-accordion__panel">

      <div class="tab-accordion__content">

        <h2>Section 3</h2>

        <p>Ac tristique orci. Nulla maximus <a href="#">justo nec dignissim consequat</a>. Sed vehicula diam sit amet mi efficitur vehicula in in nisl. Aliquam erat volutpat. Suspendisse lorem turpis, accumsan consequat consectetur gravida, <a href="#">pellentesque ac ante</a>. Aliquam in commodo ligula, sit amet mollis neque. Vestibulum at facilisis massa.</p>

      </div>

    </div>

    <button class="tab-accordion__button">Section 4</button>

    <div class="tab-accordion__panel">

      <div class="tab-accordion__content">

        <h2>Section 4</h2>

        <p>Phasellus ac tristique orci. Nulla maximus <a href="#">justo nec dignissim consequat</a>. Sed vehicula diam sit amet mi efficitur vehicula in in nisl. Aliquam erat volutpat. Suspendisse lorem turpis, accumsan consequat consectetur gravida, <a href="#">pellentesque ac ante</a>. Aliquam in commodo ligula, sit amet mollis neque. Vestibulum at facilisis massa.</p>

      </div>

    </div>

  </div>

</div>

<!-- End TabCordion -->

<hr aria-hidden="true">

<h2 id="animation">Example 5: Animation</h2>

<p>Parameter(s): <code>data-tab-animation</code>, <code>data-tab-breakpoint="(min-width: 780px)"</code></p>

<!-- Begin TabCordion -->

<div class="tab-accordion" data-tab-animation data-tab-breakpoint="(min-width: 780px)">

  <div class="tab-accordion__container">

    <button class="tab-accordion__button">Section 1</button>

    <div class="tab-accordion__panel">

      <div class="tab-accordion__content">

        <h2>Section 1</h2>

        <p>Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

      </div>

    </div>

    <button class="tab-accordion__button">Section 2</button>

    <div class="tab-accordion__panel">

      <div class="tab-accordion__content">

        <h2>Section 2</h2>

        <p>Nullam at diam nec arcu suscipit et est et lorem dictum finibus ut nec turpis. Aenean nisi tortor, euismod a mauris a, mattis scelerisque tortor. Sed dolor risus, varius a nibh id, condimentum lacinia est. In lacinia cursus odio a aliquam. Curabitur tortor magna, laoreet ut rhoncus at, sodales consequat tellus.</p>

      </div>

    </div>

    <button class="tab-accordion__button">Section 3</button>

    <div class="tab-accordion__panel">

      <div class="tab-accordion__content">

        <h2>Section 3</h2>

        <p>Ac tristique orci. Nulla maximus <a href="#">justo nec dignissim consequat</a>. Sed vehicula diam sit amet mi erat volutpat. Suspendisse lorem turpis, accumsan consequat consectetur gravida, <a href="#">pellentesque ac ante</a>. Aliquam in commodo ligula, sit amet mollis neque. Vestibulum at facilisis massa.</p>

      </div>

    </div>

  </div>

</div>

<!-- End TabCordion -->

<hr aria-hidden="true">

<h2 id="tabs-all-viewports">Example 6: Tabs on All Viewports</h2>

<p>Parameter(s): <code>data-tab-breakpoint="(min-width: 0)"</code></p>

<!-- Begin TabCordion -->

<div class="tab-accordion" data-tab-breakpoint="(min-width: 0)">

  <div class="tab-accordion__container">

    <button class="tab-accordion__button">Section 1</button>

    <div class="tab-accordion__panel">

      <div class="tab-accordion__content">

        <h2>Section 1</h2>

        <p>Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

      </div>

    </div>

    <button class="tab-accordion__button">Section 2</button>

    <div class="tab-accordion__panel">

      <div class="tab-accordion__content">

        <h2>Section 2</h2>

        <p>Nullam at diam nec arcu suscipit et est et lorem dictum finibus ut nec turpis. Aenean nisi tortor, euismod a mauris a, mattis scelerisque tortor. Sed dolor risus, varius a nibh id, condimentum lacinia est. In lacinia cursus odio a aliquam. Curabitur tortor magna, laoreet ut rhoncus at, sodales consequat tellus.</p>

      </div>

    </div>

    <button class="tab-accordion__button">Section 3</button>

    <div class="tab-accordion__panel">

      <div class="tab-accordion__content">

        <h2>Section 3</h2>

        <p>Ac tristique orci. Nulla maximus <a href="#">justo nec dignissim consequat</a>. Sed vehicula diam sit amet mi erat volutpat. Suspendisse lorem turpis, accumsan consequat consectetur gravida, <a href="#">pellentesque ac ante</a>. Aliquam in commodo ligula, sit amet mollis neque. Vestibulum at facilisis massa.</p>

      </div>

    </div>

  </div>

</div>

<!-- End TabCordion -->

{% include notes.html %}
