/*!

  Radancy Pattern Library: TabCordion

  Contributor(s):
  Andrew Hill, Email: andrew.hill@radancy.com
  Michael "Spell" Spellacy, Email: michael.spellacy@radancy.com, Twitter: @spellacy, GitHub: michaelspellacy

  Dependencies: Sass
  Instructions: To run locally, install Sass (https://sass-lang.com/install), CL to directory this file in and run:
  sass --watch init.scss:init.css --style compressed

*/

// Variables

$base-color: #6E00EE;
$base-color-active: white;
$base-color-neutral: lightgrey;

html {

  &:focus-within {

    @media (prefers-reduced-motion: no-preference) {

      scroll-behavior: smooth;

    }

  }

}

// Note: Consider using a CSS scroll rather than a JavaScript one, when possible. Learn: https://michaelspellacy.com/pushing-buttons/

// TabAccordion

.tab-accordion {
overflow: hidden;

  &[data-tab-vertical][role="tablist"] {
  display: flex;
  }

  &__container {

    [role="tablist"] & {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    }

  }

  // Button

  &__button {
  border: 0;
  display: block;
  margin: 0;
  padding: 1em;
  width: 100%;

    [role="tablist"] & {
    background-color: $base-color-neutral;
    color: inherit;
    width: auto;
    }

    [data-tab-vertical] & {
    width: 100%;
    }

    &.active {
    background-color: $base-color;
    color: $base-color-active;
    }

  }

// Accordion & Layout Panel: Shared

  &__panel, &__dynamic  {
  background-color: $base-color;
  color: $base-color-active;
  display: none;
  padding: 1em;
  position: relative;

    [role="tablist"] & {
    flex-basis: 100%;
    order: 1;
    }

    a {
    color: inherit;
    }

  }

  // Expanded Rules

  &__panel {

    &.expanded {
    display: block;

      [data-tab-vertical][role="tablist"] & {
      display: none;
      }

    }

  }

  &__dynamic {

      [data-tab-vertical][role="tablist"] & {
      display: block;
      }

  }

  // Content Area

  &__content {
  position: relative;
  }

  // Focus State
  // Accessibility: NEVER remove focus outlines! Either redesign them or design an alternative focus state. Learn: https://webaim.org/articles/contrast/

  &__button, &__panel, &__dynamic {

    &:focus {
    outline-color: currentColor;
    outline-offset: -5px;
    outline-style: solid;
    outline-width: 1px;
    }

  }

  // Return to Navigation

  &__return {
  background-color: $base-color;
  font-size: .9rem;
  padding: 0 .5em;
  position: absolute;
  right: 10px;
  top: -80px;

    &:focus {
    top: 10px;
    }

  }

  // Animation Example
  // Note: Remove if not needed from your site

  &__content {

    @media (prefers-reduced-motion: no-preference) {

      bottom: -100px;
      transition: all 300ms ease-in;

        .expanded & {
        bottom: 0;
        }

    }

  }

}
