
.visually-hidden:not(:focus):not(:active) {
clip: rect(0 0 0 0);
clip-path: inset(50%);
height: 1px;
overflow: hidden;
position: absolute;
white-space: nowrap;
width: 1px;
}

.map-search__initial-state {
background-image: url("https://tbcdn.talentbrew.com/company/1242/v2_0/img/content/default-map.jpg");
background-position-y: -200px;
background-size: cover;
padding-bottom: 56.25%;
position: relative;
}

.map-search__render-area {
margin: 20px auto;
}

.map-search__initial-state .map-search__button {
background-color: #d5232f;
border: 0;
color: #fff;
font-weight: bold;
margin-right: 10px;
padding: 12px 15px;
text-align: center;
}

.map-search__initial-state span {
display: block;
font-size: 1.5rem;
font-weight: bold;
margin-top: 100px;
text-align: center;
}

.map-search__initial-state .map-search__button {
position: absolute;
left: 50%;
transform: translate(-50%, 0);
}

.map-search__initial-state .map-search__button--my-location {
top:20%;
}
.map-search__initial-state .map-search__button--remote-jobs {
bottom:20%;
}

#location-match {
font-weight:bold;
}

#location-list-ul {
counter-reset: job-list-counter;
list-style: none;
margin: 0;
padding: 0;
}

#location-list-ul li {
counter-increment: job-list-counter;
margin: .5em;
padding: .5em;
display: block;
}

#location-list-ul li::before {
content: counter(job-list-counter);
background: #d90000;
width: 25px;
height: 25px;
border-radius: 50%;
display: block;
line-height: 25px;
color: #fff;
text-align: center;
position: absolute;
font-size: .8rem;
top: 1em;
left: .5em;
}

#location-list-ul .job-list-btn {
display: block;
font-size: inherit;
line-height:normal;
text-align:left;
background-color:transparent;
border: 0;
margin: 0 1em 0 2em;
padding: .5em;
}

#location-list-ul .job-list-btn span {
display: block;
margin-top: .5em;
}

#location-list-ul  li.active, #location-list-ul  li:hover, #location-list-ul  li:focus-within {
background-color: #eee;
border-radius: 5px;
}


.map-search__filters input,
.map-search__filters select {
width: 100%;
border: 1px solid #000 !important;
height: 40px;
padding-left: 4px
}


.map-search__fields label {
display:block;
padding-bottom: .4em;
}

.map-search__cta button {
background-color: #d5232f;
padding: 12px 15px;
border: 0;
font-weight: bold;
text-align: center;
margin-right: 10px;
color:#fff;
line-height:normal;
}

.map-search__fields {
position:relative;
}

.map-search__fields img {
position:absolute;
top:30px;
left:0;
}

@media screen and (min-width: 800px) {

  .map-search__cta {
  display:flex;
  }

  .map-search__filters input, .map-search__filters select {
  min-width: 200px;
  }

  .map-search__initial-state .map-search__button {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  }

  .map-search__initial-state .map-search__button--my-location {
  left: 20%;
  }

  .map-search__initial-state .map-search__button--remote-jobs {
  right: 20%;
  left: auto;
  bottom: initial;
  }

  .map-search__filters, .map-search__list-and-map-wrapper {
  align-items: flex-end;
  display: flex;
  flex-flow: nowrap;
  /* flex-wrap: wrap; might need this for just .map-search__filters */
  justify-content: center;
  width: 100%;
  }

.map-search__filters > div:not(:last-child) {
margin-right: 1%
}

}

/* Google Map */



#google-api-wrapper {
width: auto;
position: relative;
overflow: hidden;
}

#google-api-wrapper #google-api {
width: auto;
height: 360px
}


@media screen and (min-width: 800px) {

#locations-list {
width:30%;
}

#google-api-wrapper #google-api {
height: 760px
}

#google-api-wrapper {
width: 70%;
border: 1px solid #ccc;
margin-left: 10px;
height: 760px
}
}
/* End Google Map */


/* Location List */




#location-list-ul #google-api {
margin: 10px 0;
height: 250px;
}

#locations-list {
margin: 10px 0 4px;
position: relative
}

#locations-list #location-list-ul {
overflow: auto;
z-index: 0
}

#locations-list #location-list-ul {
height: 400px
}

@media screen and (min-width: 800px) {
#locations-list #location-list-ul {
height: 710px
}
}

#locations-list #location-list-ul li {
position: relative;
}

/* End Location List */


/* Map Info Window */


.map-info-dialog h3 {
color: #c00;
margin: 0 1.5em 0 0;
font-size: 1rem;
}

.map-info-dialog {
    max-width: 0;
}

.map-info-dialog  ul {
display:none;
}

.map-info-dialog .map-info-btn {
background-color: #c00;
color: #fff;
font-weight: bold;
line-height: normal;
margin: 2em 1em 1em;
padding: 1em;
position: relative;
text-align: center;
text-decoration: none;
}

.map-info-dialog button  {
height:40px !important;
right: 4px !important;
top: 4px !important;
width:40px !important;
transition: none;
}

.map-info-dialog button img {
height:25px !important;
width:25px !important;
}

.map-info-content {
color: inherit !important;
}

.map-info-content b,
.map-info-content a:not(.map-info-btn) {
color: #cc0000 !important;
}

.map-info-content span {
display: block;
margin: 8px 0 0;
}

.map-info-content p:empty {
display: none;
}

.map-info-content a {
display: block;
font-weight: bold;
padding: 2px 0;
}

.map-info-content img {
display: none;
}

.map-info-content p {
font-size:0.9rem !important;
}

@media screen and (min-width: 800px) {

.map-info-content ul {
display:block;
}

.map-info-content a {
padding: 6px 0;
}
.map-info-content {
max-width: none;
}
.map-info-content h3 {
font-size: 1.2rem;
}

}



/* End Map Info Window */










/*Custom Client Specific styles*/

#google-job-map {
background:#F5F5F0;
}

.map-search__cta button {
border-radius:10px;
background:#E62600;
color:#fff;
}

.map-search__initial-state {
padding-bottom: 52.25%;
background:#F5F5F0;
}

.map-search__initial-state .map-search__button--my-location,
.map-search__initial-state .map-search__button--remote-jobs {
padding-left: 50px;
background: transparent;
color: #323264;
}

.map-search__initial-state .map-search__button--my-location:before,
.map-search__initial-state .map-search__button--remote-jobs:before {
content:'';


background:url(https://services1-tmpwebeng-com.tmpqa.com/img/walgreen-my-loc.png);
position:absolute;
left:0;
top:0;
}

.map-search__initial-state .map-search__button--my-location:before {

background:url(https://services1-tmpwebeng-com.tmpqa.com/img/walgreen-my-loc.png);
width:32px;
height:47px;
}

.map-search__initial-state .map-search__button--remote-jobs:before {
width:40px;
height:40px;
background:url(https://services1-tmpwebeng-com.tmpqa.com/img/walgreen-remote-jobs.png);
background-size:cover;

}

@media screen and (min-width: 800px) {

.map-search__initial-state {
padding-bottom: 16.25%;

}
}

/*End Custom Client Specific styles*/
