/*!

  Radancy Pattern Library: Video Hero Banner

  Contributor(s):
  Michael "Spell" Spellacy, Email: michael.spellacy@radancy.com, Twitter: @spellacy, GitHub: michaelspellacy

  Dependencies: Sass
  Instructions: To run locally, install Sass (https://sass-lang.com/install), CL to directory this file in and run:
  sass --watch init.scss:init.css --style compressed

*/

@keyframes videoBannerFade {

	0% {

		opacity: 0;

	}

	100% {

		opacity: 1;

	}

}

.hero-banner {
animation: videoBannerFade 300ms 600ms ease-in-out forwards;
background-color: #000; // Change to whatever color you wish. This will bleed in from behind the semi-transparent video. Domminant color when video is paused.
opacity: 0;
overflow: hidden;
position: relative;

	&__content {
	color: white;
	font-size: 5vw;
	font-weight: normal;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	z-index: 2;
	}

	// Note: The pause button should _never_ be removed from the UI. This is an important accessibility feature.
	// While script does make use of prefers-reduced-motion, we can't fully depend on it.

	&__button {
	all: unset;
	background-color: #000;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADUAAABQAQMAAACDEa/aAAAABlBMVEUAAAD///+l2Z/dAAAAAXRSTlMAQObYZgAAABFJREFUKM9j+P//xygexQOFAVmQ2dAaCQcwAAAAAElFTkSuQmCC");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 25%;
	border: 1px #fff solid;
	height: 30px;
	inset-block-end: 1.5vw; // bottom
	inset-inline-end: 1.5vw; // right
	opacity: 0.5;
	position: absolute;
	transition: all 350ms ease-in-out;
	width: 30px;
	z-index: 4;
	
		.hero-banner:hover &, &:focus {
	
			opacity: 1;
	
		}
	
		.paused & {
	
			background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAE4AAABgAQMAAACJwtYYAAAABlBMVEUAAAD///+l2Z/dAAAAAXRSTlMAQObYZgAAAMdJREFUOMtF06FxxEAMhWGVkBJcimDK2hJUwpUSuPBKMFhgmNEYnG/2VpkYvF/oI/8IPfsy3QETTrhcrIAHTDibWA4DHjDhbGI5DDhgwtnEchhwwDecTSyDAQd8w9nE2uATDvi6SVd0RVd0RVd0pU58wgEvuJpYG/yBO3xBWDsM6OLkRfJ4hyEuF6eJCQ8Y4nLxY2LCDkNcLn5MTNhhu0llVDcTdtjE5eJl4i/s8CFqUP+VeMIOHyIzpLI6YYebuCS74Am/IdUfqsf2gxHDS4AAAAAASUVORK5CYII=");
	
		}
	
	}

	&__video, &__poster  {
	display: block;
	height: auto ;
	opacity: 0.8; // Video is dark by default for improved legibility of foreground text. Remove at own risk.
	transition: all 150ms ease-in-out;
	width: 100%;
		
		.paused & {
		
			opacity: 0.3; // State change for when video is paused. Improves legibility of foreground text further.
		
		}
		
	}

	&__poster {

		.active & {
		display: none;
		}


	}

}

// End: Video Hero Banner
