---
folder: disclosure-grid
jira: TCDQ-62785
jquery: false
localcss: "init.css"
localjs: "init.js"
noindex: true
title: "Grid Disclosure v1.0 (Beta)"
warning: true
---

{% include nav.html %}

<p>This pattern will allow you to easily implement and control the presentation of a button grid with multiple disclosures.</p>

<p><strong>Note:</strong> Do not use this if you are looking for a simple, tabbed interface. Instead, use the <a href="../tabcordion/">TabCordion</a> pattern.</p>

<h2 id="parameters">Parameters</h2>

<ul>
  <li><b>data-grid-active (Number, Optional):</b> Using a number from "1" up, you can specify which content area should be open on page load. When this attribute is not specified, no panels will be open.</li>
  <li><b>data-grid-callback (String, Optional):</b> You can use a callback to initiate a function within the disclosed content area on page load and reinitiate the same function on button click. The function will fire when any button in the grid disclosure is engaged with. The value of this data attribute should, of course, be the same as the function you wish to call.</li>
  <li><b>data-grid-close (Boolean, Optional):</b> Removes all close buttons from content area.</li>
  <li><b>data-grid-disable-url (Boolean, Optional):</b> By default, the URL will always change to reflect selected content area. This is recommended behavior because it allows one to share and find fragmented content more easily. If this behavior is not desired, you may use this attribute to disable this behavior.</li>
  <li><b>data-grid-large (String, Optional): </b> Your "large" viewport breakpoint. At this breakpoint, your layout will be thrown into "grid mode".</li>
  <li><b>data-grid-max (Number, Mandatory):</b> Specifies the number of grid items to display per row in "large" viewport. This attribute is mandatory when <code>data-grid-large</code> is in use.</li>
  <li><b>data-grid-medium (String, Optional):</b> Your "medium" viewport breakpoint. At this breakpoint, your layout will be thrown into "grid mode". </li>
  <li><b>data-grid-min (Number, Mandatory):</b> Specifies the number of grid items to display per row in "medium" viewport. This attribute is mandatory when <code>data-grid-medium</code> is in use.</li>
  <li><b>data-grid-sticky (String, Optional):</b> Accepts a single parameter; the ID value of the fixed position element, such as your header, that you may wish to offset the grid layout from. <span class="alert">New!</span></li>
  <li><b>data-grid-exclude (Boolean, Optional):</b> To be placed on both the button and content you wish to not be included in the grid. This is particulary useful in situations where you may wish to dynamically hide content. Please note that if you are dynamically adding or removing a grid item, that the <code>gridViewPort()</code> function will need to be reinitiated.</li>
</ul>

<h2 id="coming-soon">Coming Soon</h2>

<ul>
  <li>Ability to include placeholder content to fill in empty grid spaces. Some clients (and designers) do not like uneven space in desktop design.</li>
  <li>Allow mobile accordions to have multiple disclosures open instead of one at a time.</li>
  <li>Allow mobile accordions to all be closed.</li>
  <li>Ability to customize URL fragments. For example, <code>#about-us-1-1</code> instead of the generic <code>#grid-content-1-1</code>.</li>
</ul>

<h2 id="basic-layout">Example: Basic Layout</h2>

<p class="param">Parameter(s): <code>data-grid-large="(min-width:780px)"</code> <code>data-grid-max="3"</code></p>

<div class="disclosure-grid" data-grid-large="(min-width: 780px)" data-grid-max="3">

    <button class="disclosure-grid__button">Section 1</button>

    <div class="disclosure-grid__content">

      <h2>Section 1</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, <a href="https://radancy.dev">Radancy.dev</a> ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

    </div><!--/.disclosure-grid__content-->

    <button class="disclosure-grid__button">Section 2</button>

    <div class="disclosure-grid__content">

      <h2>Section 2</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

    </div><!--/.disclosure-grid__content-->

    <button class="disclosure-grid__button">Section 3</button>

    <div class="disclosure-grid__content">

      <h2>Section 3</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

    </div><!--/.disclosure-grid__content-->

    <button class="disclosure-grid__button">Section 4</button>

    <div class="disclosure-grid__content">

      <h2>Section 4</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

    </div><!--/.disclosure-grid__content-->

    <button class="disclosure-grid__button">Section 5</button>

    <div class="disclosure-grid__content">

      <h2>Section 5</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

    </div><!--/.disclosure-grid__content-->

</div><!--/.disclosure-grid_-->

<hr aria-hidden="true">

<h2 id="breakpoints">Example: Large and Medium Breakpoints</h2>

<p class="param">Parameter(s): <code>data-grid-large="(min-width: 1201px)"</code> <code>data-grid-max="5"</code> <code>data-grid-medium="(min-width: 800px) and (max-width: 1200px)"</code> <code>data-grid-min="3"</code></p>

<div class="disclosure-grid" data-grid-large="(min-width: 1201px)" data-grid-medium="(min-width: 800px) and (max-width: 1200px)" data-grid-max="5" data-grid-min="3">

    <button class="disclosure-grid__button">Section 1</button>

    <div class="disclosure-grid__content">

      <h2>Section 1</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

    </div><!--/.disclosure-grid__content-->

    <button class="disclosure-grid__button">Section 2</button>

    <div class="disclosure-grid__content">

      <h2>Section 2</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

    </div><!--/.disclosure-grid__content-->

    <button class="disclosure-grid__button">Section 3</button>

    <div class="disclosure-grid__content">

      <h2>Section 3</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

    </div><!--/.disclosure-grid__content-->

    <button class="disclosure-grid__button">Section 4</button>

    <div class="disclosure-grid__content">

      <h2>Section 4</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

    </div><!--/.disclosure-grid__content-->

    <button class="disclosure-grid__button">Section 5</button>

    <div class="disclosure-grid__content">

      <h2>Section 5</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

    </div><!--/.disclosure-grid__content-->

    <button class="disclosure-grid__button">Section 6</button>

    <div class="disclosure-grid__content">

      <h2>Section 6</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

    </div><!--/.disclosure-grid__content-->

    <button class="disclosure-grid__button">Section 7</button>

    <div class="disclosure-grid__content">

      <h2>Section 7</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

    </div><!--/.disclosure-grid__content-->

    <button class="disclosure-grid__button">Section 8</button>

    <div class="disclosure-grid__content">

      <h2>Section 8</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra <a href="https://www.google.com">ultricies</a>, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

    </div><!--/.disclosure-grid__content-->

</div><!--/.disclosure-grid_-->

<hr aria-hidden="true">

<h2 id="sticky-offset">Example: Sticky Offset</h2>

<p class="param">Parameter(s): <code>data-grid-large="(min-width:780px)"</code> <code>data-grid-max="3"</code> <code>data-grid-sticky="banner"</code></p>

<p><strong>Note:</strong> The header on this page is not sticky, but the grid will still be offset from the top of the page by the total height of the header.</p>

<div class="disclosure-grid" data-grid-large="(min-width: 780px)" data-grid-max="3" data-grid-sticky="banner">

    <button class="disclosure-grid__button">Section 1</button>

    <div class="disclosure-grid__content">

      <h2>Section 1</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, <a href="https://radancy.dev">Radancy.dev</a> ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

    </div><!--/.disclosure-grid__content-->

    <button class="disclosure-grid__button">Section 2</button>

    <div class="disclosure-grid__content">

      <h2>Section 2</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

    </div><!--/.disclosure-grid__content-->

    <button class="disclosure-grid__button">Section 3</button>

    <div class="disclosure-grid__content">

      <h2>Section 3</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

    </div><!--/.disclosure-grid__content-->

    <button class="disclosure-grid__button">Section 4</button>

    <div class="disclosure-grid__content">

      <h2>Section 4</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

    </div><!--/.disclosure-grid__content-->

    <button class="disclosure-grid__button">Section 5</button>

    <div class="disclosure-grid__content">

      <h2>Section 5</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

    </div><!--/.disclosure-grid__content-->

</div><!--/.disclosure-grid_-->

<hr aria-hidden="true">

<h2 id="active-content-area">Example: Active Content Area</h2>

<p class="param">Parameter(s): <code>data-grid-active="2"</code> <code>data-grid-large="(min-width:780px)"</code> <code>data-grid-max="3"</code></p>

<div class="disclosure-grid" data-grid-active="2" data-grid-large="(min-width: 780px)" data-grid-max="3">

    <button class="disclosure-grid__button">Section 1</button>

    <div class="disclosure-grid__content">

      <h2>Section 1</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

    </div><!--/.disclosure-grid__content-->

    <button class="disclosure-grid__button">Section 2</button>

    <div class="disclosure-grid__content">

      <h2>Section 2</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

    </div><!--/.disclosure-grid__content-->

    <button class="disclosure-grid__button">Section 3</button>

    <div class="disclosure-grid__content">

      <h2>Section 3</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

    </div><!--/.disclosure-grid__content-->

    <button class="disclosure-grid__button">Section 4</button>

    <div class="disclosure-grid__content">

      <h2>Section 4</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

    </div><!--/.disclosure-grid__content-->

    <button class="disclosure-grid__button">Section 5</button>

    <div class="disclosure-grid__content">

      <h2>Section 5</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

    </div><!--/.disclosure-grid__content-->

</div><!--/.disclosure-grid_-->

<hr aria-hidden="true">

<h2 id="callback-function">Example: Callback Function</h2>

<p class="param">Parameter(s): <code>data-grid-active="1"</code> <code>data-grid-callback="helloWorld"</code> <code>data-grid-large="(min-width:780px)"</code> <code>data-grid-max="4"</code></p>

<div class="disclosure-grid" data-grid-active="1" data-grid-callback="helloWorld" data-grid-large="(min-width: 780px)" data-grid-max="4">

    <button class="disclosure-grid__button">Section 1</button>

    <div class="disclosure-grid__content">

      <h2>Section 1</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

    </div><!--/.disclosure-grid__content-->

    <button class="disclosure-grid__button">Section 2</button>

    <div class="disclosure-grid__content">

      <h2>Section 2</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

    </div><!--/.disclosure-grid__content-->

    <button class="disclosure-grid__button">Section 3</button>

    <div class="disclosure-grid__content">

      <h2>Section 3</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

    </div><!--/.disclosure-grid__content-->

    <button class="disclosure-grid__button">Section 4</button>

    <div class="disclosure-grid__content">

      <h2>Section 4</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

    </div><!--/.disclosure-grid__content-->

    <button class="disclosure-grid__button">Section 5</button>

    <div class="disclosure-grid__content">

      <h2>Section 5</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

    </div><!--/.disclosure-grid__content-->

    <button class="disclosure-grid__button">Section 6</button>

    <div class="disclosure-grid__content">

      <h2>Section 6</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

    </div><!--/.disclosure-grid__content-->

</div><!--/.disclosure-grid_-->

<hr aria-hidden="true">

<h2 id="disable-url">Example: Disable URL</h2>

<p class="param">Parameter(s): <code>data-grid-disable-url</code> <code>data-grid-large="(min-width:780px)"</code> <code>data-grid-max="4"</code></p>

<div class="disclosure-grid" data-grid-disable-url data-grid-large="(min-width: 780px)" data-grid-max="4">

    <button class="disclosure-grid__button">Section 1</button>

    <div class="disclosure-grid__content">

      <h2>Section 1</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

    </div><!--/.disclosure-grid__content-->

    <button class="disclosure-grid__button">Section 2</button>

    <div class="disclosure-grid__content">

      <h2>Section 2</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

    </div><!--/.disclosure-grid__content-->

    <button class="disclosure-grid__button">Section 3</button>

    <div class="disclosure-grid__content">

      <h2>Section 3</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

    </div><!--/.disclosure-grid__content-->

    <button class="disclosure-grid__button">Section 4</button>

    <div class="disclosure-grid__content">

      <h2>Section 4</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

    </div><!--/.disclosure-grid__content-->

</div><!--/.disclosure-grid_-->

<h2 id="grid-exclude">Example: Grid Exclusion</h2>

<p class="param">Parameter(s): The third and fourth button (disclosure-grid__button) and content (disclosure-grid__content) elements include <code>data-grid-exclude</code>. Only grids one, two, and five will be visible.</p>

<div class="disclosure-grid" data-grid-large="(min-width: 780px)" data-grid-max="3">

    <button class="disclosure-grid__button">Section 1</button>

    <div class="disclosure-grid__content">

      <h2>Section 1</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, <a href="https://radancy.dev">Radancy.dev</a> ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

    </div><!--/.disclosure-grid__content-->

    <button class="disclosure-grid__button">Section 2</button>

    <div class="disclosure-grid__content">

      <h2>Section 2</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

    </div><!--/.disclosure-grid__content-->

    <button class="disclosure-grid__button" data-grid-exclude>Section 3</button>

    <div class="disclosure-grid__content" data-grid-exclude>

      <h2>Section 3</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

    </div><!--/.disclosure-grid__content-->

    <button class="disclosure-grid__button" data-grid-exclude>Section 4</button>

    <div class="disclosure-grid__content" data-grid-exclude>

      <h2>Section 4</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

    </div><!--/.disclosure-grid__content-->

    <button class="disclosure-grid__button">Section 5</button>

    <div class="disclosure-grid__content">

      <h2>Section 5</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

    </div><!--/.disclosure-grid__content-->

</div><!--/.disclosure-grid_-->

<h2 id="kitchen-sink">Example: Kitchen Sink</h2>

<p class="param">Parameter(s): <code>data-grid-active="4"</code> <code>data-grid-close</code> <code>data-grid-callback="helloWorld"</code> <code>data-grid-disable-url</code> <code>data-grid-large="(min-width: 1201px)"</code> <code>data-grid-max="4"</code> <code>data-grid-medium="(min-width: 800px) and (max-width: 1200px)"</code> <code>data-grid-min="2"</code> <code>data-grid-sticky="banner"</code></p>

<div class="disclosure-grid" data-grid-active="4" data-grid-close data-grid-callback="helloWorld" data-grid-disable-url data-grid-large="(min-width: 1201px)" data-grid-max="4" data-grid-medium="(min-width: 800px) and (max-width: 1200px)" data-grid-min="2"  data-grid-sticky="banner">

    <button class="disclosure-grid__button">Section 1</button>

    <div class="disclosure-grid__content">

      <h2>Section 1</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

    </div><!--/.disclosure-grid__content-->

    <button class="disclosure-grid__button">Section 2</button>

    <div class="disclosure-grid__content">

      <h2>Section 2</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

    </div><!--/.disclosure-grid__content-->

    <button class="disclosure-grid__button">Section 3</button>

    <div class="disclosure-grid__content">

      <h2>Section 3</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

    </div><!--/.disclosure-grid__content-->

    <button class="disclosure-grid__button">Section 4</button>

    <div class="disclosure-grid__content">

      <h2>Section 4</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

    </div><!--/.disclosure-grid__content-->

    <button class="disclosure-grid__button">Section 5</button>

    <div class="disclosure-grid__content">

      <h2>Section 5</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

    </div><!--/.disclosure-grid__content-->

    <button class="disclosure-grid__button">Section 6</button>

    <div class="disclosure-grid__content">

      <h2>Section 6</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

    </div><!--/.disclosure-grid__content-->

    <button class="disclosure-grid__button">Section 7</button>

    <div class="disclosure-grid__content">

      <h2>Section 7</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

    </div><!--/.disclosure-grid__content-->

    <button class="disclosure-grid__button">Section 8</button>

    <div class="disclosure-grid__content">

      <h2>Section 8</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod, tortor nec pharetra ultricies, ante erat imperdiet velit, nec laoreet enim lacus a velit. <a href="#">Nam luctus</a>, enim in interdum condimentum, nisl diam iaculis lorem, vel volutpat mi leo sit amet lectus. Praesent non odio bibendum magna bibendum accumsan.</p>

    </div><!--/.disclosure-grid__content-->

    <!-- div class="disclosure-grid__button" disabled>Section 8</div -->

    <!--

      TODO: Figure out a way to add filler divs to allow for evenly spaced content
            We can use a div with same class as buttons, but this is adding ARIA and event calls, etc.
            which we not not need or want. May need to create another class that still has
            proper inline order style tied to it, but nothing else.

    -->

</div><!--/.disclosure-grid_-->

{% include notes.html %}
