---
folder: animation-control
in-page: true
localcss: "init.css"
localjs: "init.js"
section: component-library-animation-control
tabcordion: true
title: "Animation Control (AC) v1.0"
---

{% include base.html %}

<p>This component will allow you to implement video and CSS background animations that include a pause button.</p>

<div class="in-page" data-in-page-dynamic>

  {% include select-example.html %}

  <div class="in-page__content" data-in-page-name="Video Animation" data-in-page-id="video-animation">

    <div class="preview">

      {% include_relative html/video-animation.html %}

    </div>

    <p><a class="external" href="video-animation" target="_blank">Open in new window</a></p>

    <h2>Code</h2>

    <div class="tab-accordion" data-tab-disable-url data-tab-breakpoint="(min-width: 0)">

      <button class="tab-accordion__button">HTML</button>
    
      <div class="tab-accordion__panel">
    
        <div class="tab-accordion__content">
    
          {% highlight html %}{% include_relative html/video-animation.html %}{% endhighlight %}
          
        </div>
    
      </div>
    
      <button class="tab-accordion__button">CSS</button>
    
      <div class="tab-accordion__panel">
    
        <div class="tab-accordion__content">
    
          {% highlight css %}{% include_relative init.scss %}{% endhighlight %}
          
        </div>
    
      </div>
    
      <button class="tab-accordion__button">JavaScript</button>
    
      <div class="tab-accordion__panel">
    
        <div class="tab-accordion__content">
    
          {% highlight javascript %}{% include_relative init.js %}{% endhighlight %}
          
        </div>
    
      </div>
    
    </div>

  </div>

  <div class="in-page__content" data-in-page-name="CSS Animation" data-in-page-id="css-animation">

    <div class="preview">

      {% include_relative html/css-animation.html %}

    </div>

    <p><a class="external" href="css-animation" target="_blank">Open in new window</a></p>

    <h2>Code</h2>

    <div class="tab-accordion" data-tab-disable-url data-tab-breakpoint="(min-width: 0)">

      <button class="tab-accordion__button">HTML</button>
    
      <div class="tab-accordion__panel">
    
        <div class="tab-accordion__content">
    
          {% highlight html %}{% include_relative html/css-animation.html %}{% endhighlight %}
          
        </div>
    
      </div>
    
      <button class="tab-accordion__button">CSS</button>
    
      <div class="tab-accordion__panel">
    
        <div class="tab-accordion__content">
    
          {% highlight css %}{% include_relative init.scss %}{% endhighlight %}
          
        </div>
    
      </div>
    
      <button class="tab-accordion__button">JavaScript</button>
    
      <div class="tab-accordion__panel">
    
        <div class="tab-accordion__content">
    
          {% highlight javascript %}{% include_relative init.js %}{% endhighlight %}
          
        </div>
    
      </div>
    
    </div>

  </div>

</div>

{% include_relative attr.html %}

{% include repo-info.html %}