/*!

  Radancy Pattern Library: Related Content

  Contributor(s):
  Michael "Spell" Spellacy, Email: michael.spellacy@radancy.com, Twitter: @spellacy, GitHub: michaelspellacy

  Dependencies: Sass
  Instructions: To run locally, install Sass (https://sass-lang.com/install), CL to directory this file in and run:
  sass --watch init.scss:init.css --style compressed

*/

.related-content {
margin: 1em 0;
padding: 0;
list-style: none;

  @media(min-width: 48.625em) {

    display: flex;

  }

  &__item {
  border: 1px #ccc solid;
  flex: 1;
  margin: 0.5em;
  padding: 1em;
  position: relative;
  transition: all 300ms ease-in-out;

    &:focus-within, &:hover {
    background-color: #eee;
    }
    
  }

  &__media {
  border-radius: 5px;
  border: 1px #000 solid;
  }

  &__title {
  font-size: 1.4rem;
  line-height: normal;
  margin: 1em 0;
  
    a {
    
      // Where the magic happens. This is how we make entire area clickable.

      &::before {
      content: "";
      display: block;
      inset: 0;
      position: absolute;
      }

    }

    &:not(h2):not(h3):not(h4):not(h5):not(h6) {
    text-align: center;
    }

  }

  &__description {
    
  }
    
  &__more {
  font-weight: bold;
  }

}