/*!

  Radancy Pattern Library: Related Content

  Contributor(s):
  Michael "Spell" Spellacy, Email: michael.spellacy@radancy.com, Twitter: @spellacy, GitHub: michaelspellacy

  Dependencies: Sass
  Instructions: To run locally, install Sass (https://sass-lang.com/install), CL to directory this file in and run:
  sass --watch init.scss:init.css --style compressed

*/

.visually-hidden:not(:focus):not(:active) {
clip-path: inset(50%);
clip: rect(0 0 0 0); 
height: 1px;
overflow: hidden;
position: absolute;
white-space: nowrap; 
width: 1px;
}

img {
display: block;
min-width: 100%;
}

.related-content {
margin: 0;
padding: 0;
list-style: none;

  @media(min-width: 48.625em) {

    display: flex;

  }

  &__item {
  border: 1px #ccc solid;
  flex-grow: 1;
  margin: 0.5em;
  padding: 1em;
  position: relative;
  transition: all 300ms ease-in-out;

    
    &:focus-within, &:hover {
    border-color: #6F00EF;
    background-color: #eee;
    }
    
    a {
      
      // Where the magic happens. This is how we make entire area clickable.

      &::before {
      bottom: 0;
      content: "";
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      }

    }
    
  }

  &__media {
  border-radius: 5px;
  border: 1px #000 solid;
  }

  &__title {
  font-size: 1.2rem;
  }

  &__title:not(h2) {
  text-align: center;
  }

  &_description {
    
  }
    
  &__more {
  font-weight: bold;
  }

}