---
folder: floating-labels
localcss: "init.css"
localjs: "init.js"
navigation: true
noindex: true
title: "Floating Labels"
---

<p>This pattern will allow you to implement a form with floating labels. Please read <a href="#a11y-info">Accessibility & UX</a> before using.</p>

<h2 id="example-1">Example 1: Inner Float (CSS Only)</h2>

<!-- Begin Form -->

<form class="inner-float">

  <div class="field-container">

    <input id="inner-item-1" required>

    <label for="inner-item-1">Enter a Keyword</label>

  </div>

  <div class="field-container">

    <input id="inner-item-2" required>

    <label for="inner-item-2">City, State</label>

  </div>

  <div class="field-container">

    <select id="inner-item-3" required>
      <option></option>
      <option>10 Miles</option>
      <option>75 Miles</option>
      <option>500 Miles</option>
    </select>

    <label for="inner-item-3">Radius</label>

  </div>

  <div class="field-container">

    <input type="submit" value="Submit">

  </div>

</form>

<!-- End Form -->

<h2 id="example-2">Example 2: Outer Float (CSS Only)</h2>

<!-- Begin Form -->

<form class="outer-float">

  <div class="field-container">

    <input id="outer-item-1" required>

    <label for="outer-item-1">Enter a Keyword</label>

  </div>

  <div class="field-container">

    <input id="outer-item-2" required>

    <label for="outer-item-2">City, State</label>

  </div>

  <div class="field-container">

    <select id="outer-item-3" required>
      <option></option>
      <option>10 Miles</option>
      <option>75 Miles</option>
      <option>500 Miles</option>
    </select>

    <label for="outer-item-3">Radius</label>

  </div>

  <div class="field-container">

    <input type="submit" value="Submit">

  </div>

</form>

<!-- End Form -->

<h2 id="example-3">Example 3: Outer Float (CSS and JavaScript)</h2>

<p>Use in circumstances when fields are dynamic in nature.</p>

<!-- Begin Form -->

<form class="outer-float-js">

  <div class="field-container">

    <input id="search-item-1" class="search-keyword" required>

    <label for="search-item-1">Keyword</label>

  </div>

  <div class="field-container">

    <input id="search-item-2" class="search-location">

    <label for="search-item-2">Country, City, State or Zip Code</label>

  </div>

  <div class="field-container">

    <select id="search-item-3" class="search-radius" disabled>
      <option value>Please Select</option>
      <option value="10">10 Miles</option>
      <option value="75">75 Miles</option>
      <option value="500">500 Miles</option>
    </select>

    <label for="search-item-3">Radius</label>

  </div>

  <div class="field-container">

    <input type="submit" value="Submit">

  </div>

</form>

<!-- End Form -->

{% include floating-labels.html %}

{% include notes.html %}
